
@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('HelveticaNeue-Light.eot?') format('eot'), 
	     url('HelveticaNeue-Light.otf')  format('opentype'),
	     url('HelveticaNeue-Light.woff') format('woff'), 
	     url('HelveticaNeue-Light.ttf')  format('truetype'),
	     url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
}
