/*
Theme Name: Ekonomijuridik
Author: Ashhab
Author URI: http://www.ashhab.se
License: GPLv3
Text Domain: ekonomijuridik.se

This theme, like WordPress, is licensed under the GPL.

Images License: GNU General Public License v2 or later
Copyright 2015 ekonomijuridik 
*/



/* =WordPress Core

-------------------------------------------------------------- */
.navigation .next
{
	float:right;
}
.navigation .prev
{
	float:left;
}



.form input[type="email"],.form input[type="tel"]{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #F0F0F0;
    border-color: #D1D1D1;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    float: left;
    font-size: 16px;
    height: 44px;
    line-height: 22px;
    margin: 0 0 5px;
    padding: 11px;
    width: 95%;
}

@-moz-document url-prefix() 
{
   .form input[type="email"],.form input[type="tel"]
	{
    width: 100%;
	}
}

.main-container form .row input[type="email"], .main-container form .row input[type="tel"] {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #F0F0F0;
    border-color: #D1D1D1;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    color: #666666;
    float: left;
    font: 16px/22px Arial,Helvetica,sans-serif;
    height: 46px;
    padding: 12px 14px;
    width: 100%;
}
.highlight
{
	border-color: #FF0000 !important;
	border-width: 1px !important;
}
#content .info-area {
    border-bottom: 5px solid #EDEDED;
    margin: 0 0 10px;
    overflow: hidden;
}
#content .info-area .visual {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    margin: 0 0 18px;
    padding: 4px;
}
#content .info-area .visual .img-holder {
    margin: 0 0 8px;
    overflow: hidden;
}
#content .info-area .visual .img-holder img {
    display: block;
    height: auto;
    width: 100%;
}
#content .info-area .visual .box {
    overflow: hidden;
}

#content ul li { margin-top:10px; }

.info-area .visual .box .link {
    background: url("images/btn-preview.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    float: right;
    font: bold 12px/34px Helvetica,Arial,sans-serif;
    padding: 0 8px 0 0;
}
.info-area .visual .box .link span {
    background: url("images/btn-preview.png") no-repeat scroll 0 -34px rgba(0, 0, 0, 0);
    display: block;
    height: 34px;
    min-width: 110px;
    padding: 0 0 0 8px;
    text-align: center;
    text-transform: uppercase;
}
.info-area .visual .box .rating-box {
    overflow: hidden;
    padding: 7px 0 0;
}
.rating-box strong {
    color: #363636;
    float: left;
    font: bold 13px/21px Arial,Helvetica,sans-serif;
    margin: 0 10px 0 0;
}
.three-columns {
    overflow: hidden;
}
.three-columns .col {
    float: left;
    margin: 0 5% 0 0;
    width: 28.5%;
}
.three-columns .col img {
    display: block;
    height: auto;
    width: 100%;
}
.three-columns .info-detail {
    font: 13px/19px Arial,Helvetica,sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.three-columns .info-detail li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 5% 3%;
    vertical-align: top;
    width: 35%;
}
.three-columns .info-detail li .title {
    color: #1A506E;
    display: block;
    font-weight: bold;
    margin: 0 0 3px;
}
.three-columns .info-detail li a {
    color: #484544;
}
.three-columns .info-detail li em {
    font-style: normal;
}
.three-columns .info-detail li span.num {
    margin: 0 0 7%;
}
.three-columns .info-detail li span, .three-columns .info-detail li span img {
    display: block;
}
span.social-block {
    width: 170px;
}
.three-columns .info-detail li ul li {
    clear: both;
    line-height: 18px;
    margin: 0 0 3%;
    width: 100%;
}
#content .review-box, #content .team-info {
    overflow: hidden;
}
#content .review-box h2, #content .team-info h2 {
    border-bottom: 1px solid #E5E5E5;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: uppercase;
}
#content .review-box ul {
    border-bottom: 1px solid #E5E5E5;
    margin: 0 -2% 10px;
    padding: 0;
}
.review-box ul li {
    color: #323232;
    display: inline-block;
    font: 14px/20px Arial,Helvetica,sans-serif;
    margin: 0 2% 3%;
    vertical-align: top;
    width: 45%;
}
.review-box ul li .header {
    overflow: hidden;
}
.review-box ul li .header .placeholder {
    margin-bottom: 5px;
    text-align: center;
}

.placeholder img { float:left;}

.review-box ul li .name {
    color: #9E9E9E;
    font-size: 13px;
}
#sidebar .members .sidebox
{
	text-align:center;
	margin-bottom:20px;
}
#sidebar .members .sidebox img
{
	display:inline;
}
.lightbox {
    background: none repeat scroll 0 0 #FFFFFF;
	max-width:475px;
}
.lightbox .heading {
    background: none repeat scroll 0 0 #174D6A;
    color: #FFFFFF;
    margin: 0 0 28px;
    overflow: hidden;
    padding: 18px 26px;
}
.lightbox .heading h2 {
    background: none repeat scroll 0 0 #174D6A;
    color: #FFFFFF;
    font: bold 22px/28px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
.lightbox .review-form {
    margin: 0;
    padding: 0;
    width: 100%;
}
.review-form .holder {
    margin: 0 0 10px;
    overflow: hidden;
}
.review-form .row {
    float: left;
    margin: 0 0 10px;
    width: 475px;
}
.review-form .row .text-holder {
    margin: 0 auto;
    position: relative;
    width: 419px;
}
.review-form .row label {
    color: #333333;
    display: inline-block;
    font: 14px/20px Arial,Helvetica,sans-serif;
    margin: 0 0 3px;
    vertical-align: top;
}
.review-form .row input[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 #F2F2F2 inset;
    float: left;
    font: 14px/20px 'Advent Pro',Arial,Helvetica,sans-serif;
    height: 20px;
    padding: 6px 12px;
    width: 398px;
}
.review-form .row .ico-required {
    background: url("images/ico-required.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -18px;
    height: 18px;
    overflow: hidden;
    position: absolute;
    right: -4px;
    text-indent: -9999px;
    width: 18px;
    z-index: 10;
}
.review-form textarea {
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    float: left;
    font: 14px/20px Arial,Helvetica,sans-serif;
    height: 129px;
    max-height: 129px;
    max-width: 404px;
    min-height: 129px;
    min-width: 404px;
    overflow: auto;
    padding: 6px;
    width: 404px;
}
.review-form .bottom {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    width: 419px;
}
.review-form .placeholder {
    float: left;
}
.review-form .bottom .info-text {
    color: #DD6160;
    display: block;
    font: 12px/14px Arial,Helvetica,sans-serif;
    overflow: hidden;
    text-align: right;
    text-transform: uppercase;
}
.review-form .footer {
    background: none repeat scroll 0 0 #EFEFEF;
    border-top: 1px solid #CECECE;
    overflow: hidden;
    padding: 24px 26px;
}
.review-form .footer input[type="submit"] {
    background: url("images/btn-submit2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    float: right;
    font: 20px/48px Arial,Helvetica,sans-serif;
    height: 48px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 129px;
}
.popup-holder.holder2 {
	position: relative;
	overflow: hidden;
	height: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#fancybox-outer, #fancybox-content {
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
.popup-holder.holder2 .lightbox {
	width: 475px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.lawyer #fancybox-content{
	border:0 !important;
	width:inherit !important;
}
.lawyer #fancybox-wrap{
	max-width:475px;
}
#sidebar .map {
    padding: 31px 15px 10px;
}
.three-columns .info-detail li ul li img
{
	float:left;
	margin: 1px 5px 0 0;
}

.widget_recent_entries a {
    color: #8ca4ab;
}

.inner-content ul,ol {
	margin-left:20px;
	min-height:0px;
	margin-bottom:10px;
}


.quicklinks .contains {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.quicklinks ul {
    width: 48%;
    float: left;
    text-align: center;
    list-style: none;
}

#pop-girl {
	width:400px; height:80px; background:#fff; border:1px solid #ccc; position:fixed; right:10px; bottom:10px; padding:5px; display:none;
  -moz-box-shadow:    3px 3px 3px 0px #ccc;
  -webkit-box-shadow: 3px 3px 3px 0px #ccc;
  box-shadow:         3px 3px 3px 0px #ccc;
}

.pop-image { float:left; width:80px;}
.pop-image img { width:100%; float:left; top:0;}
.pop-text { float:left; width:310px; margin-left:5px; margin-top:5px; font-size:16px; line-height:normal; font-family:Arial, Helvetica, sans-serif;}

/* nav { float:left; width:650px;} */
.phonenumber { float:right; color:#000; width:150px; margin-top:3%; font-size:20px;}
.phonenumber span {font: bold 20px/20px Arial,Helvetica,sans-serif;}
.phonenumber span a { color:#000;}
.phonenumber span a:hover { color:#666; text-decoration:none;}

.more-link { display: inline-block;
	vertical-align: top;
	padding: 0;
	color: #fff;
	border: 0;
	border-radius: 3px;
	width: 100px;
	margin: 0 0 0 -2px;
	text-align: center;
	font: 16px/46px 'flexomedium', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);}
	
.more-link:hover {	text-decoration: none;
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%); }



div.wpcf7-mail-sent-ok { display:none !important;}
.search-field { border-radius:3px; padding:5px 5px 5px 5px; margin:0 auto; width:88%; margin:10px;}
.citylist-grid { margin-top:-25px; margin-bottom:20px;}
.jvectormap-container { margin-top:-35px;}


.numberr { float:left; width:30%;}
.three-col { width:31%; float:left; margin-left:16px;}
.three-col h1 { float:left; font:24px 'flexoregular', Arial, Helvetica, sans-serif !important; width:70%; line-height:none;}

.two-col { float:left; width:50%;}

div.wpcf7-mail-sent-ok { display:none !important;}

.three-boxes { width:100%; float:left; margin-left:20px;}
.three-boxes p {font-size:14px; margin-bottom:0; line-height:normal;}
.three-boxes h2 { font-size:22px; font-weight:bold; margin-top:30px; margin-bottom:10px; padding:0 !important; text-align:left;}
.three-boxes h3 { font-size:14px; margin:0 !important; padding:0 !important;}

.three-boxes ul { margin-top:10px; margin-bottom:10px;}
.three-boxes ul li { margin-left:20px; font-size:13px;}

@media print, screen and (min-width:960px) and (max-width:1023px) {
	nav { width:500px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav { width:490px;}
	#header .logo { width:163px;}
	.phonenumber { float:right; color:#000; width:110px; margin-top:3%; font-size:20px;}
	.phonenumber span {font-size:14px;}
	.phonenumber span a { color:#000;}
	.phonenumber span a:hover { color:#666; text-decoration:none;}
	
}


#nav select { display:none; float:right; height:40px; font-family:'flexoregular', Arial, Helvetica, sans-serif;}

.comments-area ul li { min-height:148px;}

.step2 { width:162px;}

.subjects ul { min-height:226px;}

/* map style */
#sweden-map-528 { margin:0 auto;}

.footer-b .social-networks li.linkedin { float:left !important;}

/* #Mobile (Landscape) */
@media only screen and (min-width:480px) and (max-width:767px) {
	#nav select { display:block;}
	nav { width:220px;}
	.phonenumber { margin-top:30px;}
	.info-form { height:175px !important;}
}


@media only screen and (min-width:320px) and (max-width:479px) {
	#nav select { display:block; margin-top:10px;}
	nav { width:220px;}
	#pop-girl { width:290px !important; height:90px;}
	.pop-image { width:60px;}
	.pop-text { width:220px; font-size:12px;}
	
	.phonenumber { font-size:14px; margin:0 auto; width:125px;}
	.phonenumber span {font-size:14px; text-align:center;}
	.main-area h1, .main-area .sub-head { font-size:18px;}
	.info-form { height:175px !important;}
}


@media only screen and (max-width: 768px) {
	
    .quicklinks ul {
        width: 100%;
    }

    .search-box {
        display: none;
    }

    .slide {
        display: none;
    }
}







/* floating box style */
.floating-form {
    max-width: 300px;
    padding: 0px 0px 0px 0px;
    font: 13px Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    border: 1px solid #ddd;
    right: 10px;
    z-index: 2;
	top:30%;
    position: fixed;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 4px 15px 0px;
	}
.contact-opener {
    position: absolute;
    left: -92px;
    transform: rotate(-90deg);
    background-color: #ef9d1e;
    padding: 9px;
	top:20%;
	font-size:18px !important;
    color: #fff;
	border:solid 1px #ef9d1e;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.498039) -2px -1px 10px 0px;

}
.floating-form-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}
.floating-form label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.floating-form label > span{
    width: 70px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.floating-form span.required{
    color:red;
}
.floating-form .tel-number-field{
    width: 40px;
    text-align: center;
}
.floating-form  .long{
    width: 120px;
}
.floating-form input.input-field{
    width: 68%;
   
}

.floating-form input.input-field,
.floating-form .tel-number-field,
.floating-form .textarea-field,
 .floating-form .select-field{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;.floating-form
    outline: none;
}
.floating-form .input-field:focus,
.floating-form .tel-number-field:focus,
.floating-form .textarea-field:focus,  
.floating-form .select-field:focus{
    border: 1px solid #0C0;
}
.floating-form .textarea-field{
    height:100px;
    width: 68%;
}
.floating-form input[type="button"],
.floating-form input[type="submit"], .contact-opener {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 9px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.floating-form input[type="button"]:hover,
.floating-form input[type="submit"]:hover, .contact-opener {
        background: linear-gradient(to bottom, #ef9d1e 5%, #ef9d1e 100%);
    background-color: #ef9d1e;
}
.floating-form .success{
	background: #D8FFC0;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #2E6800;
	border-left: 3px solid #2E6800;
}
.floating-form .error {
	background: #FFE8E8;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 5px 0px;
	border: none;
	font-weight: bold;
	color: #FF0000;
	border-left: 3px solid #FF0000;
}




/**** Support slider ****/
#support-slider{
    position: fixed;
    width: 365px;
    height: auto;
    z-index: 999;
    min-height: 291px;
    /*top: 140px;*/
    /*margin-left: -253px;*/

    bottom: 20px;
    right: -5px;
}

#support-slider-main{
    width: 240px;
    padding: 15px;
	margin-top:10px;
    background: #f1f1f1;
    float: left;
    min-height: 210px;
}

#support-slider-main textarea{
    height: 6em;
}	

#support-slider-main h3{
    font-size: 1.1em;
    font-weight: bold;
}

#support-slider-tab, #support-slider-tab img{
    width: 90px;
    height: 200px;
}

#support-slider-tab{
    float: left;
}



.support-slider-type{
    font-size: 0.9em;
    border-bottom: dotted #999 1px;
    margin: 0.3em 0;
    padding: 0.2em 0 0.4em 0;
    color: #333;
}

.support-slider-type a{
    text-decoration: none;
    color: #333 !important;
}

.support-slider-type img{
    width: 27px;
    margin-right: 0.8em;
    vertical-align: middle;
}

.closePopUpBtnSmall{
    float: right;
    width: 18px;
    margin: -15px 4px 0 3px;
}

.chat-status-open #chat_status, .chat-status-closed #chat_status, .callme-status-open #callme_status, .callme-status-closed #callme_status, .email-status-open #email_status{
    width: 20px;
    height: 20px;
    background: #5fa044;
    display: inline-block;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
}

#call { 	cursor: pointer;
}
#success_call p { font-size:12px;}

#call_me {     
	background: #5fa044;
    padding: 5px;
    color: #fff;
    border:none;
	cursor: pointer;
	}
#main_window {
	cursor: pointer;
}
#main_window2 {
	cursor: pointer;
}

.chat-status-closed #chat_status, .callme-status-closed #callme_status{
    background: #b00;
}

.chat-status-closed img, .chat-status-closed span, .callme-status-closed img, .callme-status-closed span{
    opacity:0.3;
    filter:alpha(opacity=30);
}

.chat-status-closed #chat_status, .chat-status-closed .waitingtime, .callme-status-closed #callme_status, .callme-status-closed .waitingtime{
    opacity:1.0;
    filter:alpha(opacity=100);
}



.waitingtime{
    font-size: 11px;
    color: #555;
    display: block;
    float: right;
    clear: none !important;
    font-style: italic;
    text-align: right;
    padding-top: 3px;
}

#support-slider-main label{
    font-size: 0.75em;
    color: #333;
    clear: both;
    display: block;
}

#support-slider-main input[type=text], #support-slider-main select, #support-slider-main textarea{
    margin-bottom: 0.7em;
    font-size: 14px !important;
    width: 90%;
}

#support-slider-main textarea{
    padding: 3%;
}

.floating-form { right: -244px;}

#SnapABug_Button { display:none;}


#support-slider-start p { margin-bottom:0;}

#support-slider-main label{
    font-size: 0.75em;
    color: #333;
    clear: both;
    display: block;
}

#support-slider-main input[type=text], #support-slider-main select, #support-slider-main textarea{
    margin-bottom: 0.7em;
    font-size: 0.8em;
    width: 90%;
}

#support-slider-main textarea{
    padding: 3%;
}
.info-box { 
	background: #FFDC50; padding: 3.5%;
    width: 92.9%;
    -webkit-border-radius: 0.4em !important;
    -moz-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    clear: both !important;
    border: 1px solid #999 !important;
    display: inline-block; 
	}


.info-box h4 { font-size:14px;}
.copyright { color:#eab946 !important;}



