@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family:'HelveticaNeueLTCom-Lt';
    src: url('../font/HelveticaNeueLTCom-Lt.eot?') format('eot'),
    url('../font/HelveticaNeueLTCom-Lt.woff') format('woff'),
    url('../font/HelveticaNeueLTCom-Lt.ttf')  format('truetype'),
    url('../font/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLTCom-Lt') format('svg');
}


@font-face {
    font-family:'HelveticaNeueLTCom-Cn';
    src: url('../font/HelveticaNeueLTCom-Cn.eot?') format('eot'),
    url('../font/HelveticaNeueLTCom-Cn.woff') format('woff'),
    url('../font/HelveticaNeueLTCom-Cn.ttf')  format('truetype'),
    url('../font/HelveticaNeueLTCom-Cn.svg#HelveticaNeueLTCom-Cn') format('svg');
}


@font-face {
    font-family:'HelveticaNeueLTCom-BdCn';
    src: url('../font/HelveticaNeueLTCom-BdCn.eot?') format('eot'),
    url('../font/HelveticaNeueLTCom-BdCn.woff') format('woff'),
    url('../font/HelveticaNeueLTCom-BdCn.ttf')  format('truetype'),
    url('../font/HelveticaNeueLTCom-BdCn.svg#HelveticaNeueLTCom-BdCn') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTCom-UltLt';
    src: url('../font/HelveticaNeueLTCom-UltLt.eot?') format('eot'),
    url('../font/HelveticaNeueLTCom-UltLt.woff') format('woff'),
    url('../font/HelveticaNeueLTCom-UltLt.ttf')  format('truetype'),
    url('../font/HelveticaNeueLTCom-UltLt.svg#HelveticaNeueLTCom-UltLt') format('svg');
}



@font-face {
    font-family: 'HelveticaNeueLTCom-Th';
    src: url('../font/HelveticaNeueLTCom-Th.eot?') format('eot'),
    url('../font/HelveticaNeueLTCom-Th.woff') format('woff'),
    url('../font/HelveticaNeueLTCom-Th.ttf')  format('truetype'),
    url('../font/HelveticaNeueLTCom-Th.svg#HelveticaNeueLTCom-Th') format('svg');
}




body {
    background-color: #efefef;
    background-image: url("../images/background.jpg");
    font-family: 'Roboto', sans-serif;

}

.main-banner {
    background-color: #fff;
    height: 734px;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
}

.subpage-header {
    background-color: #fff;
    background-image: url("../images/banner.jpg");
    background-position: top;
    background-size: cover;
    margin-bottom: 50px;
}

.top-bar {
    color:#fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.top-bar p { float:right; margin: 0;}
.top-bar a {
    color:#fff;
}
.top-bar a:hover {
    text-decoration: none;
}

.main-menu { background: #fff; box-shadow: 1px 1px 1px 0 #d1d1d1; padding-top: 10px; padding-bottom: 10px;  }
.logo img { width: 80%; }
.main-form { background: #eff1f4; margin-top: 38px; padding: 15px; border-radius: 3px; }
.main-form p { font-weight: bolder; font-size: 20px; text-align: center; color: #000; }
.main-form button { background: #0e2955; color: #fff; text-align: center; }

.main-text { margin-top: 100px; padding-left:70px; }
.main-text h1 { color: #fff; font-size: 42px; margin-top: 150px; }
.main-text p { font-family: HelveticaNeueLTCom-Th; color: #fff; font-size: 20px; margin-top: 30px; }

.steps { padding-top: 20px;}
.steps p { padding-top: 5px;}


.steps-holder h2 { padding-top: 20px; padding-bottom: 20px; }
.steps-holder .steps {
    overflow: hidden;
    padding: 0;
    margin: 0 0 16px;
    position: relative;
}
.steps-holder .steps li {
    display: inline-block;
    vertical-align: top;
    padding: 0 1% 20px;
    width: 31%;
    position: relative;
}
.steps-holder .steps li .img-holder {
    width: 79px;
    height: 79px;
    margin: 0 auto 27px;
    background: #0e2955;
    padding: 16px 10px;
    border-radius: 100%;
    border: 5px solid #0e2955;
    position: relative;
    z-index: 10;
    text-align: center;
}
.img-holder i{
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.steps-holder .steps li .img-holder img {
    display: block;
    margin: 0 auto;
}
/*
.steps-holder .steps li:after {
    background: url(../images/bg-t.png) repeat-x;
    width: 71.1%;
    height: 4px;
    right: 64.7%;
    top: 44px;
    position: absolute;
    content: "";
}
.steps-holder .steps li:first-child:after {
    background: none;
}
 */
.selector { height: 270px; background-image: url("../images/selector.jpg");
    background-position: center;
    background-attachment: fixed !important;

    background-size:cover; }


.home-content-box { background: #fff; padding-bottom: 15px; padding-top: 5px;  }
.home-content-box ul { padding:10px; margin: 0; text-align: left; }
.home-content-box ul li { list-style: none; margin-bottom: 10px; margin-left: 10px; }
.home-content-box li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: #0e2955;
}

h2 { font-size: 26px; }


#contact_form {
    clear: both;
    float: left;
    width: 100%;
}
.main-form { float: left;}
.main-form ul { padding:10px; margin: 0; text-align: center; clear: both; display: flex;
    justify-content: center;}
.main-form ul li { list-style: none; margin-bottom: 10px; float: left; margin-left: 40px; }
.main-form li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: -18px;
    color: #0e2955;
}
.list-b { margin-bottom: 15px; }
.list-b ul { display: flex;
    justify-content: center; }
.list-b ul li { display: inline; float:none;  }
.list-b ul li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: -18px;
    color: #0e2955;
}

.home-content-box img { padding: 10px; }
.content-holder img { padding: 10px; }

.selector-container { padding-top: 45px; padding-bottom: 25px;}
.selector-container .input-group .form-control { padding: 20px; }
.selector-container .input-group-btn > .btn { padding: 10px; }
.selector-container .btn-info { padding: 10px; width: 40px; }

.selector-container h2 { color: #fff; text-align: center; }
.devider {
    content:' ';
    text-align: center;
    position: relative;
    display:block;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
    border:1px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}


.selector-box { text-align: center;}
.selector-box i { color: #fff; font-size: 52px;  }
.selector label { color: #fff; font-family: HelveticaNeueLTCom-Th; font-size: 16px; padding: 20px 0;}

.btn-dropdowns { border-radius: 0px !important; background: #efefef; }


.testimonials h2 { text-align: center; padding-top: 15px; padding-bottom: 15px; }

.testimonial-box { background:#fff; padding: 10px; -webkit-box-shadow: 1px 1px 1px 0 #d1d1d1;
    box-shadow: 1px 1px 1px 0 #d1d1d1; margin: 15px; height: 150px;
}
.testimonial-box-img { text-align: center; }
.testimonial-box p { margin-top: 10px; height: 50px; }

.white { background: #fff; }
.lgihtgrey { background: #fbfbfb; }
.grey { background: #ededed; }


.footer { background: #212427; padding-top: 5px;}
.copyright-text p { color: #8d94a0 !important; text-align: center; font-size: 12px; margin-top: 15px;}
.footer-box { color: #fff;  }
.footer-box p { font-weight: normal; }
.footer-box a { color: #fff; }
.footer-box ul { padding-left: 0; margin-left: 0; }
.footer-box ul li { list-style: none; }


.footer-box h4 {     border-bottom: 1px solid #334b63;
    padding-bottom: 10px;  }


.content-holder {
    background: #fff;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    margin-bottom: 50px;
}
.card {
    border: 1px solid #ddd;
}
.card-block { padding: 15px; }
.list-group { margin: 0; padding: 0;  }
.list-group-item { background: #efefef;}
.amen-list { margin-bottom: 30px;}

.info-form {
    background: rgb(241, 241, 241);
    overflow: hidden;
    margin: 0px 0px 37px;
}
.info-form label {
    float: left;
    color: rgb(255, 255, 255);
    position: relative;
    background: #5f89b3;
    padding: 25px 4.9% 25px 4.3%;
    margin: 0px 2.6% 0px 0px;
    font: 21px/26px flexoregular, Arial, Helvetica, sans-serif;
}
.info-form .form-inner {
    overflow: hidden;
    padding: 15px 15px 15px 0px;
}

.info-form .form-inner {
    overflow: hidden;
    padding: 15px 15px 15px 0;
}
.info-form input[type="text"] {
    float: left;
    width: 63.5%;
    background: #fff;
    border-radius: 3px;
    border: 0;
    padding: 12px 14px;
    height: 46px;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #dedede;
    font: 16px/22px Arial, Helvetica, sans-serif;
    color: #666;
}
.info-form input[type="submit"] {
    float: right;
    padding: 0 2px;
    color: #fff;
    border: 0;
    height: 46px;
    cursor: pointer;
    border-radius: 3px;
    width: 26.8%;
    text-align: center;
    font: 16px/46px 'flexomedium', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.info-form input[type="submit"]:hover {
    background-color: #286090;
}

.side-bar-title { background: #5f89b3; padding: 15px; font-size: 25px; font-weight: bold; color: #fff;  text-align: center;  }

.side-bar {
    text-align: center;
    padding: 20px 20px 20px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.side-bar ul { padding:10px; margin: 0; text-align: left; }
.side-bar ul li { list-style: none; margin-bottom: 10px; margin-left: 10px; }
.side-bar li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: #0e2955;
}



.jufformvalid{
    border: 2px solid green !important;
    background-image:url('/wp-content/themes/juf/images/formfieldcorrect.png') !important;
    background-repeat:no-repeat !important;
    background-position:99% !important;
}
.jufforminvalid{
    border: 2px solid #F3AD2E !important;
}

.jufform-clear { clear: both; }
.jufform {
    clear: both;
    margin-top: 15px;
    padding: 13px 5px 30px 40px;
    float: left;
    width: 101.5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f1f1f1;
}
.jufform .bg {
    width: 92%;
    float: left;
    margin: 0 0 15px;
    display: none;
}
.jufform .bg span {
    float: left;
    width: 100%;
    background: url("../images/bg-b.png") repeat-x scroll 0 0 transparent;
    overflow: hidden;
    text-indent: -9999px;
    height: 1px;
}
.jufform .form-description {
    margin-bottom: 15px;
    color: #1a506e;
    font-size: 14px;
    padding-right: 60px;
}
.jufform .form-row {
    float: left;
    width: 94.5%;
    position: relative;
    margin-bottom: 13px;
}
.jufform .form-row.row2 {
    width: 45%;
    float: left;
}
.jufform .form-row.row2:first-child {
    width: 45.8%;
    float: left;
    margin: 0 3.1% 0 0;
}
.jufform .form-row.submit {
    margin: 0;
    width: 94%;
    position: relative;
    padding: 17px 0 23px 2px;
}
.jufform .form-row.submit:after {
    position: absolute;
    content: "";
    background: url("../images/arrow1.png") repeat-x scroll 0 0 transparent;
    width: 30px;
    height: 69px;
    right: 17px;
    top: -28px;
}
.jufform label {
    float: left;
    color: #000;
    margin: 0 0 5px;
    display: block;
    font: 18px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
.jufform .arrow {
    background: url("../images/arrow1.png") no-repeat scroll 0 0 transparent;
    height: 141px;
    width: 61px;
    position: absolute;
    top: 5px;
    right: -67px;
    z-index: 9999;
    overflow: hidden;
    text-indent: -9999px;
}
.jufform .form-controls {
    width: 100%;
    display: block;
    float: left;
    padding: 16px 0 0;
}

.jufform .form-row p {
    margin-bottom: 0 !important;
}

.jufform .form-controls.control2 { width: 100%; }
.jufform input[type=text],
.jufform input[type=email],
.jufform textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.30000001192092896s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    background: #fff;
    border: 0;
    border-style: solid;
    border-color: #dedede;
    border-width: 1px 0 0 1px;
    border-radius: 5px;
    color: #666;
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 49px;
    letter-spacing: normal;
    line-height: normal;
    padding: 14px;
    margin: 0;
    text-align: left;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0px;
    writing-mode: lr-tb;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    resize: none;
}
.form-outer {
    width: 100%;
    float: left;
}
.jufform textarea {
    height: 176px;
    padding: 14px;
}
.jufform #jf-zipcode {
    width: 20%;
    margin-right: 5%;
}
.jufform #jf-city { width: 75%; }
.jufform button {
    float: right;
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-border-image: none;
    -webkit-box-align: center;
    -webkit-writing-mode: horizontal-tb;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(149, 191, 0);
    background-origin: padding-box;
    background-size: auto;
    border: 0;
    padding: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 16px/50px 'flexomedium', Arial, Helvetica, sans-serif;
    height: 50px;
    text-align: center;
    width: 100%;
    writing-mode: lr-tb;
    text-transform: uppercase;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.jufform button:hover, .jufform button:active {
    background-color: #286090;
}


.step1circle {
    width:38px;
    height:38px;
    border-radius:100%;
    background-color:#0e2955;
    display:inline-block;
    margin-top:7px;
    float: left;;
    margin-right: 10px;
    vertical-align: top;

}

.step2circle,
.step3circle {
    width:38px;
    height:38px;
    border-radius:100%;
    background-color:#999999;
    display:inline-block;
    float:left;
    margin-top:7px;
    margin-right: 10px;
}

.stepcircle p {
    text-align:center;
    font-family:Flexo;
    font-size:16px;
    font-style:bold;
    color:#ffffff;
    padding-top:7px;
    text-align: center;
    display: block;

}

.steparrow {
    display:inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 10px;
}

.jufform input.parsley-success,
.jufform select.parsley-success,
.jufform textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

.jufform input.parsley-error,
.jufform select.parsley-error,
.jufform textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.jufform .parsley-errors-list {
    margin: 2px 0 3px 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.jufform .parsley-errors-list.filled {
    opacity: 1;
    clear: both;
    padding-top: 5px;
    color: red;
}
.jufform .arrow {
    background: url("../images/arrow1.png") no-repeat scroll 0 0 transparent;
    height: 141px;
    width: 61px;
    position: absolute;
    top: 5px;
    right: -67px;
    z-index: 9999;
    overflow: hidden;
}

.bog-box { border-bottom:1px solid #ccc; margin-bottom:27px; float: left; }
.bog-box h1 { font-size: 22px; padding-bottom: 15px; padding-top: 15px; }
.bog-box img { float: right; padding: 10px;}
.bog-box span { padding-bottom:10px;}

.outer-holder {
    background: url(../images/bg-bottom.png) no-repeat 50% 0;
    padding: 36px 0 16px;
}
.outer-holder .heading {
    overflow: hidden;
    text-align: center;
    padding: 0 5%;
    position: relative;
    background: none;
    color: #000;
}

.form {
    padding: 0;
    width: 100%;
}
.form .text-holder {
    position: relative;
    width: 100%;
}
.form .area-holder {
    width: 51.9%;
    overflow: hidden;
    margin: 0 auto 24px;
}
.form textarea {
    background: #f0f0f0;
    border: 0;
    float: left;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #d1d1d1;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 230px;
    min-height: 230px;
    max-height: 230px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
}
.form label {
    display: inline-block;
    vertical-align: top;
    color: #999;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 20px;
}
.form label strong { color: #000; }
.form input[type="text"] {
    background: #f0f0f0;
    border: 0;
    float: left;
    border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #d1d1d1;
    width: 100%;
    border-radius: 5px;
    height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 5px;
}
.txt-start {
    position: absolute;
    right: 13.4%;
    top: 5px;
    background: url(../images/txt-start.png) no-repeat;
    width: 76px;
    height: 46px;
    overflow: hidden;
    text-indent: -9999px;
}
.txt-vender {
    position: absolute;
    right: 5%;
    top: 20px;
    background: url(../images/txt-vender.png) no-repeat;
    width: 200px;
    height: 73px;
    overflow: hidden;
    text-indent: -9999px;
}
.form .form-holder {
    width: 52%;
    text-align: center;
    margin: 0 auto;
}
.form .text-holder .form-holder {
    width: 39%;
    padding: 7px 0 0;
    position: relative;
    left: 4px;
}
.form .form-holder .text {
    display: block;
    line-height: 24px;
    color: #999;
    margin: 0 0 25px;
}
.form input[type="submit"],  .form .submit-button {
    display: inline-block;
    vertical-align: top;
    width: 46.5%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    border-radius: 5px;
    margin: 0 0 30px;
    cursor: pointer;
    height: 50px;
    font: 16px/50px 'flexomedium', Arial, Helvetica, sans-serif;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.form input[type="submit"].submit {
    width: 100%;
    margin: 0 0 27px;
}
.form input[type="submit"]:hover,  .form .submit-button:hover {
    text-decoration: none;
    background-color: #286090;
    border-color: #204d74;
}
.check-row {
    overflow: hidden;
    padding: 0 8px;
}
.check-row a { color: #999; }

.text { margin-top: 0; padding-top: 0;  }
.text h2 { text-align: center; font-size: 18px; margin: 0; padding: 0;  }
.text p { text-align: center; margin: 0; padding-top: 10px; }





.right { float: right; }
.alignright { float: right; }

.left { float: left; }
.alignleft { float: left; }

form {     display: table-footer-group;}

.map-box {
    margin-top: 15px;
    padding: 20px 20px 20px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.footer-top { background: #212427; padding-top: 20px; padding-bottom: 20px;}

.social-media { text-align: center; }
.social-media ul { margin: 0 auto;}
.social-media ul li { list-style: none; color: #efefef; margin-left: 10px; margin-right: 10px; font-size: 25px; display: inline; }
.social-media ul li a { color: #ccc;}

.footer-menu { text-align: center; padding-top: 20px; }
.footer-menu ul { margin: 0 auto;}
.footer-menu ul li { list-style: none; color: #efefef; margin-left: 10px; margin-right: 10px; font-size: 14px; display: inline; }
.footer-menu ul li a { color: #ccc;}

.btn-default {
    color: #fff;
    background-color: #2e3f4f;
    border-color: #ccc;
}

.selection-form { width: 48%; margin: 0 auto; }
.content-holder .btn { float:right;    color: #fff;
    background-color: #2e3f4f; }

.more-link { padding: 10px; position: inherit; background:#2e3f4f; color: #fff; clear: both; float: left; margin-bottom: 15px;   }
.more-link:hover { color: #ccc; text-decoration: none; }

.nyheter { background: #fff; float: left; margin-top: 15px;     padding: 20px 20px 20px 20px;
    background: #fff; width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); }

.nyheter ul { padding-left: 0;}
.nyheter ul li {list-style: none;}

.entry-header { background:none; padding-left: 0; margin-left: 0; }
.textwidget strong { font-weight: bold; font-size: 16px; font-family: 'HelveticaNeueLTCom-cn';}
.textwidget { font-weight: normal; font-size: 13px; font-family: 'HelveticaNeueLTCom-Lt';}



.footer-logo { margin-top: 30px;}
.footer-logo img { width: 100%; }








/* chat css */

/* floating box style */
.floating-form {
    max-width: 300px;
    padding: 0px 0px 0px 0px;
    font: 13px Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    border: 1px solid #ddd;
    right: 10px;
    z-index: 2;
    top:30%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 4px 15px 0px;
}
.contact-opener {
    position: absolute;
    left: -92px;
    transform: rotate(-90deg);
    background-color: #2e3f4f;
    padding: 9px;
    top: 20%;
    font-size: 18px !important;
    color: #fff;
    border: solid 1px #2e3f4f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.498039) -2px -1px 10px 0px;

}
.floating-form-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 3px;
}
.floating-form label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.floating-form label > span{
    width: 70px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.floating-form span.required{
    color:red;
}
.floating-form .tel-number-field{
    width: 40px;
    text-align: center;
}
.floating-form  .long{
    width: 120px;
}
.floating-form input.input-field{
    width: 68%;

}

.floating-form input.input-field,
.floating-form .tel-number-field,
.floating-form .textarea-field,
.floating-form .select-field{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;.floating-form
outline: none;
}
.floating-form .input-field:focus,
.floating-form .tel-number-field:focus,
.floating-form .textarea-field:focus,
.floating-form .select-field:focus{
    border: 1px solid #0C0;
}
.floating-form .textarea-field{
    height:100px;
    width: 68%;
}
.floating-form input[type="button"],
.floating-form input[type="submit"], .contact-opener {
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 9px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.floating-form input[type="button"]:hover,
.floating-form input[type="submit"]:hover, .contact-opener {
    background: linear-gradient(to bottom, #2e3f4f 5%, #2e3f4f 100%);
    background-color: #2e3f4f;
}
.floating-form .success{
    background: #D8FFC0;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
    border: none;
    font-weight: bold;
    color: #2E6800;
    border-left: 3px solid #2E6800;
}
.floating-form .error {
    background: #FFE8E8;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
    border: none;
    font-weight: bold;
    color: #FF0000;
    border-left: 3px solid #FF0000;
}




/**** Support slider ****/
#support-slider{
    position: fixed;
    width: 365px;
    height: auto;
    z-index: 999;
    min-height: 291px;
    /*top: 140px;*/
    /*margin-left: -253px;*/

    bottom: 20px;
    right: -5px;
}

#support-slider-main{
    width: 270px;
    padding: 15px;
    margin-top:10px;
    background: #f1f1f1;
    float: left;
    min-height: 210px;
}

#support-slider-main textarea{
    height: 6em;
}

#support-slider-main h3{
    font-size: 1.1em;
    font-weight: bold;
}

#support-slider-tab, #support-slider-tab img{
    width: 90px;
    height: 200px;
}

#support-slider-tab{
    float: left;
}



.support-slider-type{
    font-size: 0.9em;
    border-bottom: dotted #999 1px;
    margin: 0.3em 0;
    padding: 0.2em 0 0.4em 0;
    color: #333;
}

.support-slider-type a{
    text-decoration: none;
    color: #333 !important;
}

.support-slider-type img{
    width: 27px;
    margin-right: 0.8em;
    vertical-align: middle;
}

.closePopUpBtnSmall{
    float: right;
    width: 18px;
    margin: -15px 4px 0 3px;
}

.chat-status-open #chat_status, .chat-status-closed #chat_status, .callme-status-open #callme_status, .callme-status-closed #callme_status, .email-status-open #email_status{
    width: 20px;
    height: 20px;
    background: #5fa044;
    display: inline-block;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
}

#call { 	cursor: pointer;
}
#success_call p { font-size:12px;}

#call_me {
    background: #5fa044;
    padding: 5px;
    color: #fff;
    border:none;
    cursor: pointer;
}
#main_window {
    cursor: pointer;
}
#main_window2 {
    cursor: pointer;
}

.chat-status-closed #chat_status, .callme-status-closed #callme_status{
    background: #b00;
}

.chat-status-closed img, .chat-status-closed span, .callme-status-closed img, .callme-status-closed span{
    opacity:0.3;
    filter:alpha(opacity=30);
}

.chat-status-closed #chat_status, .chat-status-closed .waitingtime, .callme-status-closed #callme_status, .callme-status-closed .waitingtime{
    opacity:1.0;
    filter:alpha(opacity=100);
}



.waitingtime{
    font-size: 11px;
    color: #555;
    display: block;
    float: right;
    clear: none !important;
    font-style: italic;
    text-align: right;
    padding-top: 3px;
}

#support-slider-main label{
    font-size: 0.75em;
    color: #333;
    clear: both;
    display: block;
}

#support-slider-main input[type=text], #support-slider-main select, #support-slider-main textarea{
    margin-bottom: 0.7em;
    font-size: 14px !important;
    width: 90%;
}

#support-slider-main textarea{
    padding: 3%;
}

.floating-form { right: -244px;}

#SnapABug_Button { display:none;}


#support-slider-start p { margin-bottom:0;}

#support-slider-main label{
    font-size: 0.75em;
    color: #333;
    clear: both;
    display: block;
}

#support-slider-main input[type=text], #support-slider-main select, #support-slider-main textarea{
    margin-bottom: 0.7em;
    font-size: 0.8em;
    width: 90%;
}

#support-slider-main textarea{
    padding: 3%;
}
.info-box {
    background: #FFDC50; padding: 3.5%;
    width: 92.9%;
    -webkit-border-radius: 0.4em !important;
    -moz-border-radius: 0.4em !important;
    border-radius: 0.4em !important;
    clear: both !important;
    border: 1px solid #999 !important;
    display: inline-block;
}


.info-box h4 { font-size:14px;}
.copyright { color:#eab946 !important;}



.close { clear: all; }






@media(max-width:767px){
    h2 { font-size: 22px; }
    .top-bar p { float: left !important; padding-bottom: 11px; }
    .main-form { margin-top:20px;}
    .main-form p { font-size:14px; }
    .main-form ul li {list-style: none;
        margin-bottom: 10px;
        float: left;
        margin-left: 22px;
        font-size: 12px; }
    .main-form li:before {  margin-top: -1px;  margin-left: -15px;}
    .main-text { display: none; }
    .main-banner { height: 722px; }
    .steps-holder .steps li .img-holder { width: 63px; height: 61px; }
    .steps-holder h3 {
        font-size: 14px;
        height: 16px;
    }
    .home-content-box ul { width: 50%; float: left; }
    .img-holder i { font-size: 1.5em; }
    .steps-holder h3 { font-size: 14px; }
    .text h2 { font-size: 14px; }
    .text p { font-size: 10px; }
    .info-form { height: 157px; }
    .info-form label { float:left; width:100%; }
    .info-form input[type="text"] { margin-left: 10px; }
    .selector-container h2 { font-size: 18px; }
    .steps-holder h2 { font-size: 14px; }
    body { padding-top: 0 !important;}
    .nav ul {
        float: left;
        width: 100%;
    }
    .logo img { width: 50%; margin: 0 auto;}
    .footer-logo { text-align: center; margin-top: 10px; margin-bottom: 10px; }
    .footer-logo img {     width: 50%;  margin: 0 auto;  text-align: center; }
    .social-media ul { padding-left: 0;}

    .footer-box { margin-top: 20px; margin-bottom: 30px; text-align: center; }
    .footer-menu ul { padding-left: 0; }
    .footer-menu ul li { margin:0; width: 50%; float:left; }
    .widget_text { text-align: center;}
    .selection-form { width: 100%; margin: 0 auto; }
   /* .selector-container .input-group .form-control { width: 145px; } */

    .home-content-box img { width:50%; height:auto; }
    .testimonial-box { height: 255px; }
    .heading h2 { font-size: 14px; margin-bottom: 15px; }
    .form .area-holder { width: 100%; }
    .form .form-holder { width: 100%; }
    .form label { font-size: 12px; }
    .form input[type="submit"], .form .submit-button { font-size: 12px;}

}

@media only screen and (min-width : 992px){
    .logo img { width: 50%; float:left;}
    .selector-container .input-group .form-control {
        width: 412px;
    }
}

