@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#555;}

/*skype*/
span[class^='skype_pnh_container'] {display:none !important;}
span[class^='skype_pnh_print_container'] {display:inline !important;}
/*end skype*/

/*common*/
#slides,#slides div,.highslide-container div,.highslide-dimming,draggable-headerz,.draggable-header,.draggable-header div,.borderless,.borderless div{transition:none;}
img{border:0; max-width:100%; vertical-align:top;}
a{color:#555; outline:none; text-decoration:none;}
ul,li{margin:0; padding:0; list-style-image:none; list-style-type:none;}
ol li{list-style-type:decimal; font-size:14px; padding:0 0 10px 0;}
form,dl,dt,dd,h1,h2,h3,h4{padding:0; margin:0;}
p{line-height:18px; font-size:1.077em;}
.rght p{margin:15px 0 20px 0; text-align:justify;}
input.rounded, input.red-error-field, input.red_bdr, select, textarea, input[type="text"],input[type="password"], input.text{border-radius:5px; overflow:hidden; border:0;}
input[type="text"],input[type="password"],textarea{border:1px solid #E1E1E1; padding:3px;}
select{border:1px solid #E1E1E1; color:#333333; font-size:13px; padding:2px; margin:0;}
h1,h2,h3,h4{font-weight:normal; color:#448dc8;}
h1{font-size:26px;} h2{font-size:18px;} h3{font-size:16px;}.FL{float:left;}.FR{float:right;}.FLw50{float:left; width:50%;}.FRw50{float:right; width:50%;}.FLw100{float:left; width:100%;}.FRw100{float:right; width:100%;}
.w50{width:45%; background-color:#f8f8f9; border:1px solid #e1e1e1; padding:10px; margin:15px 12px 30px 0;}
.disNon{display:none;}.w40{width:40% !important;}.w60{width:60%;}.clr{float:none; clear:both; margin:0; padding:0;}

/*Button*/
.prced_mdcl_que_btn,.orng-btn,.bbtn,.newslist_readmore,.more_info_btn,.pills_buy_now_btn{cursor:pointer; white-space:nowrap; color:#FFFFFF; display:inline-block; font-weight:bold; border-radius:5px; text-align:left; padding:0 10px; background:#f99d04; background:-moz-linear-gradient(top, #f99d04 0%, #f98000 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f98000), color-stop(100%,#f98000)); background:-webkit-linear-gradient(top, #f99d04 0%,#f98000 100%); background:-o-linear-gradient(top, #f99d04 0%,#f98000 100%); background:-ms-linear-gradient(top, #f99d04 0%,#f98000 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99d04', endColorstr='#f98000',GradientType=0 ); background:linear-gradient(top, #f99d04 0%,#f98000 100%); border:0;}
.prced_mdcl_que_btn{float:left; font-size:24px; text-align:center;}
.prced_mdcl_que_btn span{display:block; background:url(../images/arrow_btn.png) right center no-repeat; line-height:42px; padding:0 40px 0 0}
.orng-btn,.orng-btn span,.newslist_readmore,.more_info_btn span,.pills_buy_now_btn{line-height:26px;}
.orng-btn span,.more_info_btn span, .grn_btn_smok span{display:block; background:url(../images/sarrow_btn.png) right center no-repeat; padding:0 30px 0 0}
.Bsml-btn,.Bbig-btn{background:#438cc7; color:#fff; padding:0 20px; text-decoration:none; display:inline-block;}
.Bsml-btn,.bbtn{line-height:24px; border-radius:3px; font-size:12px;}
.Bbig-btn{line-height:36px; border-radius:8px; font-size:16px;}
.wrap,header,nav,.bann-left,.brdcrmb-User,.prod-hed{width:100%; float:left;}
input.red_bdr, input.red-error-field, td.txtrow_a textarea.red-error-field,.red-err{color:#E31E0A;}
.red-err{padding:5px 0 0 0; font-size:13px;}
.tick-err{float:right; width:20px; margin-left:6px;}
.pagetitle h1,#pagetitle h1{border-bottom:1px solid #eaeaea; padding-bottom:7px;}
/*End common*/


.inner,nav ul{margin:0 auto; width:1000px; clear:left;}
header figure{float:left; margin:18px 0 0 0; padding:0;}
header .sprt{float:right; margin:25px 0 0 0;}
.sprt-ph,.sprt-lvcht,.sprt-login a,.nav-home a,.footer-links li a,.lftarw, .rgtarw,.pagination li a,.ld_ama-title span,.hd_ama-title span,.abt-mds-all dl dd.links a,.brdcrmb a,dl.avbl-trtmnt dd a,dl.qct-fct dd,.qct-fct-link a,.prod-bot UL.prod-bot-links a,.smday,.ContToBox a, .step-icon, .jcarousel-control-prev, .jcarousel-control-next, .Avlbl-Trtmnts,.Avlbl-Trtmnts span,.MloginLB,.MloginLB2,.MloginLB3,.CMR li,ul.site_cat li.catlnk a strong,ul.site_subcat li a,ul.site_cat li.catlnk span a,.pharma-check{background-image:url(../images/sprite-icon.png); background-repeat:no-repeat;}
.Select-Trea, .Medical-cons,.Doct-Rev,.Drug-Dis{background-image:url(../images/center-icon.png); height:80px; background-repeat:no-repeat;}
.dobal-prdts,.single-prdts{margin:15px 0 0 0}
.dobal-prdts li .prod_list_txt{float:left; margin:0 20px 0 15px; width:200px}
.single-prdts li .prod_list_txt{float:left; margin:0 0 0 15px;}
.sprt li{float:left; margin:0 0 0 25px;}
.sprt li:first-child{margin-left:0;}
.sprt-ph,.sprt-lvcht{color:#343434; display:inline; font:bold 1.4em/16px Arial,Helvetica,sans-serif; list-style:none; margin-top:4px; padding:5px 0 15px 35px;}
.sprt-ph span,.sprt-lvcht span span{color:#343434; font:0.813em Arial,Helvetica,sans-serif;}
.sprt-ph{background-position:10px 2px; width:130px; position:relative; text-align:right;}
.sprt-ph .CallLinetxt{position:absolute; right:0; top:35px; font-size:14px; margin:0px 0 0 0; width:390px; text-align:right;}
.sprt-lvcht{background-position:0 -98px;}
.sprt-login{background:#25be9c; border-radius:4px; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}
.sprt-login:hover,.sprt .active{background:#f99c04; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}
.sprt-login a{background-position:15px -189px; line-height:39px; padding:0 15px 0 55px; float:left; font-size:1.4em; color:#fff;}

/*Nev*/
nav{border-bottom:1px solid #3275ac; background:#438cc7; margin:18px 0 0 0; width:100%; min-width:1000px;}
nav li{float:left; background:url(../images/nav-sap.png) left top repeat-y; display:inline; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}
nav li a{font-size:1.25em; color:#fff; line-height:37px; padding:0 13px; float:left;}
nav li:hover,nav .act{background-color:#26be9c; -webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}
.nav-home{background:none; padding:0;}
.nav-home a{background:url(../images/nav-home.png) center center no-repeat; width:22px; height:37px;}
.alcnd{float:right; text-decoration:none;}
.alcnd a{background:url(../images/alcnd-arrow.png) right center no-repeat; padding-right:37px; margin:0 20px 0 0;}
nav .active{background-color:#25be9c; cursor:pointer;}
nav .active a{background:url(../images/alcnd-arrow-hover.png) right center no-repeat;}
header .inner{position:relative;}

/* The Drop Menu CSS*/
.the-menu{width:100%; padding:0px;  -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px; background-color:#fff; left:0; position:absolute; top:0px; z-index:25; border-top:none; border:1px solid #438cc7; border-top:none; overflow:hidden;  box-shadow:0px 0px 6px #438cc7;}
.CMR{float:right; width:250px; background:#fafafa; margin:0; padding:0 15px;}
.CMR li{display:block; border-bottom:1px solid #dadada;line-height:52px; font-size:1.154em; padding:0 0 0 52px;}
.CMR .delivery-icon{background-position:left -2021px;}
.CMR .drugs-icon{background-position:left -2126px;}
.CMR .licePha-icon{background-position:left -2258px;}
.CMR li + li{border-top:1px solid #ffffff;}
.CMR li + li + li{border-bottom:none;}
.the-menu-sub{width:705px; float:left; margin:5px 0 0 15px;}
.the-menu-sub ul{float:left; width:100%;}
.the-menu-sub li{margin:0px; list-style:none; width:235px; margin:10px 0px 6px 0; float:left;}
.the-menu-sub a{font-size:1.100em; color:#3a75a5; line-height:28px; display:block;}
.the-menu-sub a:hover{color:#555555}
.the-menu ul li.catmenu, .grn_btn, .social_icon,.buy_now_btn{-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
/*end*/
/*section*/
.meddle,.chk-out-mdl{margin-bottom:20px; padding-top:15px; display:inline-block; width:100%;}
.bl-lft,.Hbl-lft{width:250px; float:left}
.bl-lft dl,.Hbl-lft dl{display:block; margin:8px 0 0 0 ;}
.bl-lft dl,.Hbl-lft dl,.Pharmacie{background:#FFFFFF; clear:both; background:-moz-linear-gradient(top, #FFFFFF 0%, #f9f9f9 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f9f9f9)); background:-webkit-linear-gradient(top, #FFFFFF 0%,#f9f9f9 100%); background:-o-linear-gradient(top, #FFFFFF 0%,#f9f9f9 100%); background:-ms-linear-gradient(top, #FFFFFF 0%,#f9f9f9 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f9f9f9',GradientType=0 ); background:linear-gradient(top, #FFFFFF 0%,#f9f9f9 100%); border-radius:4px 4px 4px 4px; overflow:hidden; border:1px solid #f2f2f2;}
.bl-lft dl dt,.Hbl-lft dl dt{display:block; background:#eeeeee; font-size:1.3em; font-weight:bold; line-height:34px; height:34px; vertical-align:middle;}
.lft-box{border:1px solid #eeeeee; border-radius:4px; background:f0f0f0; background:-moz-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#f0f0f0)); background:-webkit-linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); background:-o-linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); background:-ms-linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f0f0f0',GradientType=0 ); background:linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%);}
.pharma-check{background-position:13px -2410px; padding:15px 10px 15px 68px; display:block; border-bottom:1px solid #eeeeee; min-height:54px}
.pharma-check:hover{text-decoration:none;color:#333;}
.prma-c1{display:block; font-family:Myriad Pro,Arial, Helvetica, sans-serif; font-size:1.8em; line-height:32px;}
.prma-c2{display:block; font-size:1.115em; color:#565656;}
.prma-c1 span{color:#329e66;}
.Lups-free{padding:5px 10px; display:block; border-top:1px solid #ffffff; min-height:52px; background:url(../images/delivery-box.png) left top no-repeat; margin:10px 0 0 0;}
.Lups-c1{display:block; font-size:20px; color:#438cc7; padding:0 0 0 105px;}
.Lups-c2{display:block; font-size:13px; color:#492b02; padding:1px 0 0 105px;}

dl.avbl-trtmnt dt.cnd-hed{height:auto; line-height:inherit;}
.bl-lft dt a,.Hbl-lft dt a{display:block; padding:0px 15px;}
.bl-lft dt img,.Hbl-lft dt img{float:right; margin:11px 0;}
.bl-lft dd,.Hbl-lft dd{text-align:center; margin:10px 10px 0 10px; min-height:96px;} 
.bl-lft dd b,.Hbl-lft dd b{font-size:2em; display:block;}
.bl-lft dd img,.Hbl-lft dd img{margin:0px 0 18px 0;}
.banner{float:right;}
.banner img{max-width:inherit;}
.Mtrust{cursor:pointer;}
.Mtrust dd.cust-rvw{min-height:inherit;}
/* Slideshow */
#slides{position:relative; top:0px; left:0px; z-index:4;}
.slides_container{width:732px; overflow:hidden; position:relative; display:none;}
.slides_container a{width:730px ; height:303px; display:block; border:1px solid #e6e6e6; border-radius:6px; overflow:hidden;}
.slides_container a img{display:block; z-index:5;}

/* Next/prev buttons */
#slides .next,#slides .prev{position:absolute; top:310px; left:120px; width:29px; height:29px; display:block; z-index:4;}
#slides .next{left:480px;}

/* Pagination */
.pagination{position:absolute; bottom:290px; right:20px; top:275px; z-index:999;}
.pagination li{float:left; margin:0 0px 0 6px; list-style:none;}
.pagination li a{display:block; width:12px; height:0; padding-top:12px; background-position:-220px -10px; float:left; overflow:hidden;}
.pagination li.current a{background-position:-250px -10px;}
.hidcat{float:left; width:100%;}
/*and*/

.branded-logos{float:left; width:100%; padding:20px 0; text-align:center;}
/* Home Product Box */
.trtmnt_gnun_mdctn{float:left; background:url(../images/sprite-icon-2.png) no-repeat 0px -478px; width:1000px; margin-bottom:20px; position:relative;}
.prdts{float:left; width:100%; margin:0px 0 0 0px; padding:0px 0;overflow:hidden;}
.prdts li{float:left; width:236; text-align:left; margin:0 15px 0 0}
.prdts li span,.prdts li .cats_text{display:block;}
.prdts li .cats_text span{font-size:1.400em; font-weight:normal; padding:0 0 5px 0; text-align:left;}
.prdts li .cats_text{line-height:18px; font-size:1em; margin:10px 0 0 0; padding:0 10px; min-height:95px; text-align:justify;}
.lftarw, .rgtarw{height:44px; width:44px; position:absolute; cursor:pointer; top:45PX}
.lftarw{left:-20px; z-index:11;  background-position:0 -392px;}
.rgtarw{right:-20px; z-index:11; background-position:0 -500px;}
.lftarw:hover{background-position:right -392px;}
.rgtarw:hover{background-position:right -500px;}

.panel{width:236px;height:232px; position:relative; -webkit-perspective:600px; -moz-perspective:600px; text-align:center;}
.panel .front{position:absolute; top:0; z-index:900; width:inherit; height:inherit; -webkit-transform:rotateX(0deg) rotateY(0deg); -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden; -moz-transform:rotateX(0deg) rotateY(0deg); -moz-transform-style:preserve-3d; -moz-backface-visibility:hidden;   -o-transition:all .4s ease-in-out; -ms-transition:all .4s ease-in-out; -moz-transition:all .4s ease-in-out; -webkit-transition:all .4s ease-in-out; transition:all .4s ease-in-out; background:#fff;}
.panel.flip .front{width:236px; height:232px; z-index:900; -webkit-transform:rotateY(180deg); -moz-transform:rotateY(180deg);}
.panel .back{width:212px;  padding:0 12px; height:232px; text-align:center; position:absolute; top:0; z-index:800;  -webkit-transform:rotateY(-180deg); -webkit-transform-style:preserve-3d; -webkit-backface-visibility:hidden; -moz-transform:rotateY(-180deg); -moz-transform-style:preserve-3d; -moz-backface-visibility:hidden;  -o-transition:all .4s ease-in-out; -ms-transition:all .4s ease-in-out; -moz-transition:all .4s ease-in-out; -webkit-transition:all .4s ease-in-out; transition:all .4s ease-in-out;  border-radius:4px;}
.panel.flip .back{z-index:1000; -webkit-transform:rotateX(0deg) rotateY(0deg); -moz-transform:rotateX(0deg) rotateY(0deg); background-color:#26be9c;}
.panel .back .MORE_INFO_BTN{display:block; font-size:1em; line-height:32px; height:auto; background:#fff; color:#555; padding:0;}
.panel .back span{font-size:1.500em; color:#FFF; padding:14px 0 0 0; height:175px; background-position:center 50px; background-repeat:no-repeat;}
/*end*/
/*Pharmacie*/
.Pharmacie{display:block;}
.Pharmacie dl{float:left; width:228px; padding:15px 11px; text-align:center; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;}
.Pharmacie dl:hover{background-color:#26be9c;  -webkit-transition:all 300ms linear;-moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear; color:#fff} 
.Pharmacie dl:hover dt{color:#fff;}
.Pharmacie dl:hover a{color:#fff;}
.Pharmacie dl + dl{border-left:1px solid #e6e6e6; padding:15px 10px;}
.Pharmacie dt{display:block; font-size:1.3em; color:#2f75ad; text-transform:uppercase; height:35px;}
.Pharmacie dt a{text-decoration:none; color:#2f75ad;}
.Select-Trea{background-position:center 10px;}
.Pharmacie dl:hover .Select-Trea{background-position:center -550px;}
.Medical-cons{background-position:center -130px;}
.Pharmacie dl:hover .Medical-cons{background-position:center -690px;}
.Doct-Rev{background-position:center -270px;}
.Pharmacie dl:hover .Doct-Rev{background-position:center -830px;}
.Drug-Dis{background-position:center -410px;}
.Pharmacie dl:hover .Drug-Dis{background-position:center -970px;}
.Pharmacie dl dd + dd{height:52px;}
/*end*/
.abt-mds-all{display:block; margin:20px 0 0 0; background:#fbfbfb; border:1px solid #f2f2f2; border-radius:4px;}
.ld_ama-title,.hd_ama-title{float:left; width:100%; background:#f3f3f3; background:-moz-linear-gradient(top, #f3f3f3 0%, #ededed 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ededed)); background:-webkit-linear-gradient(top, #f3f3f3 0%,#ededed 100%); background:-o-linear-gradient(top, #f3f3f3 0%,#ededed 100%); background:-ms-linear-gradient(top, #f3f3f3 0%,#ededed 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ededed',GradientType=0 ); background:linear-gradient(top, #f3f3f3 0%,#ededed 100%); padding:8px 0 7px 0;}
.ld_ama-title span,.hd_ama-title span{background-position:0 -608px; height:27px; float:left; margin:0 12px 0 20px; font-size:1.538em; line-height:26px; padding:0 0 0 35px;}
.ld_ama-title span + span,.hd_ama-title span + span{background-position:0 -716px; width:26px; height:26px; float:right; padding:0 20px 0 0; text-decoration:none}
.ama-title-arw{ font-size:17px !important; text-decoration:underline; color:#448dc8; font-family:Arial, Helvetica, sans-serif; background-position:-145px -720px !important; width:126px !important;}
.abt-mds-all dl{float:left; width:800px; background:url(../images/pharmacie.png) 10px 0 no-repeat; display:block; padding:0 0 0 180px; margin:20px 0 0 0}
.abt-mds-all dl dt{font-size:1.6em; font-weight:bold; color:#3678bb; padding-bottom:15px; text-align:left;}
.abt-mds-all dl dd.abt-cnt{font:normal 1.1em/20px Arial, Helvetica, sans-serif; padding-bottom:17px; text-align:justify;}
.abt-mds-all dl dd.abt-cnt a{font:normal 13px Arial, Helvetica, sans-serif; color:#3678bb;}
.abt-mds-all dl dd.links{display:block; padding-top:10px; border-top:1px solid #fff;}
.abt-mds-all dl dd.links a{float:left; width:44%; padding-left:20px; font-size:1.3em; background-position:-517px -1430px; margin:0 0 10px 0}
.abt-mds-all dl dd.links a:hover{text-decoration:underline; background-position:-517px -664px; color:#43B191;}

/*Footer*/
footer{border:1px solid #e9e7e7; display:block; border-radius:4px 4px 0px 0px; clear:both;}
.srch-select-cntry-footer{min-height:32px; padding:10px; display:block; border-bottom:1px solid #f1f1f1; background:url(../images/srch-scntry.png) left top repeat-x #d3d3d3;}
.select-cntry{background:url(../images/slct-cntry-bg.png) 0 0 repeat-x; border:1px solid #fff; cursor:pointer; float:right; padding:6px 5px; width:250px; position:relative; border-radius:5px; height:17px;}
.select-cntry img.flg-dwn-arw{float:right; margin-right:4px; margin-top:7px;}
.select-cntry a img{vertical-align:middle;}
.coundrop{width:260px; background:#fafafa; position:absolute; border:1px solid #f0f0f0; border-top:0px; top:26px; right:-1px; z-index:999999;}
.coundrop span{width:116px; float:left; border-bottom:1px solid #f0f0f0; padding:8px 7px;}
.SLC-Lang{float:right; font-size:1em; font-weight:bold; margin:0 10px 0 0; line-height:30px;}

/* all flags icons */
.select-cntry .slct-cntry-a{background-position:2px -199px; padding:2px 0 2px 28px; background-position:left -40px;}
.select-cntry a{background:url(../images/flags-icon.png) left top no-repeat; padding:2px 0 2px 26px; font:normal 0.923em arial,Tahoma, Geneva, sans-serif; color:#444;}
.select-cntry a.flg65{background-position:left top;} /* UK */
a.flg74, a.flg75{background-position:left -321px;} /* CH */  
a.flg66{background-position:left -161px;} /* FR */ 
a.flg67{background-position:left -201px;} /* IT */
a.flg68{background-position:left -81px;} /* DE */
a.flg69{background-position:left -121px;} /* DK */
a.flg71{background-position:left -41px;} /* SE */  
a.flg72{background-position:left -281px;} /* BE */ 
a.flg73{background-position:left -241px;} /* AT */ 
a.flg88{background-position:left -361px;} /* ES */ 
a.flg93{background-position:left -394px;}	/* PL */ 
/* end flags */
.footer-links{display:inline-block; padding:10px 15px 0px 15px; line-height:25px; border-top:1px solid #ffffff; border-top:1px solid #fff; background:url(../images/footer_link_title.png) left top repeat-x #fff; position:relative; z-index:1;}
.footer-links ul{float:left; width:100%;}
li.custmr-srvic{width:250px; float:left; margin:0 0 0 0px; padding:0;}
li.custmr-srvic .cus-title, li.site-infrmton .cus-title,.sicurezza-online .cus-title{font:bold 1.385em/22px Arial, Helvetica, sans-serif; float:left; width:100%; padding-bottom:15px;}
li.custmr-srvic a, li.site-infrmton a{float:left; font-size:1.000em; width:250px; background-position:-530px 9px; padding:5px 0 4px 10px; line-height:normal;}
li.custmr-srvic a:hover, li.site-infrmton a:hover{text-decoration:underline;}
li.site-infrmton{width:655px; float:left; margin:0 0 0 0px; padding:0;}
li.site-infrmton a{width:150px;}
li.sicurezza-online{width:275px; float:right;}
.copy{float:right; width:100%; padding:5px 0; text-align:right;}
.content_link{float:left; font-size:0.7em; color:#838982;}
.content_link span{font-size:1.1em; color:#2a476f; font-family:"Times New Roman", Times, serif; font-weight:bold; line-height:30px;}
.copyright{float:right;}
/*google bar */
.srch{float:left; min-height:15px;}
.Fsrchfld{background:url(../images/search-box-bg-new.png) left top repeat-x; border-radius:5px; margin-right:10px;  border:1px solid #c6c6c6; float:left; width:497px;}
.srch input.srchfld{border:0 none; padding:5px 10px; width:439px; float:left; background-color:inherit!important; background-position:8px center !important; color:#5495cc; font-size:15px;}
.srchbtn{float:left; background:url(../images/sprite-icon.png) 0 -294px no-repeat; border:0; cursor:pointer; height:30px; margin:3px 0 0 0; padding:0; width:30px; position:relative; left:-44px; top:2px;}
/*Footer*/

/*Category*/
dl.avbl-trtmnt{background:#f0f0f0; padding:4px 0 0 0; margin:0 0 15px 0;}
.bl-lft dl .cnd-hed,.Hbl-lft dl .cnd-hed,.cnd-rgt dl .cnd-hed{padding:0px 0 0 0; line-height:34px; color:#438cc7; background:#ffffff; background:-moz-linear-gradient(top, #ffffff 0%, #fbfbfb 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#fbfbfb)); background:-webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 100%); background:-o-linear-gradient(top, #ffffff 0%,#fbfbfb 100%); background:-ms-linear-gradient(top, #ffffff 0%,#fbfbfb 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); background:linear-gradient(top, #ffffff 0%,#fbfbfb 100%); border-radius:4px 4px 0 0;}
.cnd-hed span{display:block; margin:0 2px; padding:9px 0 13px 10px; background:url(../images/line-2colorx.png) left bottom repeat-x; text-align:left;}
dl.avbl-trtmnt dd{background:#ffffff; background:-moz-linear-gradient(top, #fafafa 0%, #f9f9f9 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f9f9f9)); background:-webkit-linear-gradient(top, #fafafa 0%,#f9f9f9 100%); background:-o-linear-gradient(top, #fafafa 0%,#f9f9f9 100%); background:-ms-linear-gradient(top, #fafafa 0%,#f9f9f9 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f9f9f9',GradientType=0 ); background:linear-gradient(top, #fafafa 0%,#f9f9f9 100%); margin:0; min-height:inherit; padding:6px 12px;}
dl.avbl-trtmnt dd a{display:block; text-align:left; padding:6px 0 6px 18px; font-size:1em; background-position:-530px -730px}
dd.cust-rvw{text-align:left; margin:0 12px; border-top:1px solid #eaeaea; padding:15px 0 15px 0;}
.cust-rvw .tp_ttl{color:#3678BB; float:left; width:100%; font-size:1em; font-weight:bold; padding:8px 0 5px 0;}
.cust-rvw p{font-size:1em; line-height:18px; padding-bottom:10px; margin:0;}
.cust-rvw p a{color:#FF7200;}
dd.cust-rvw span.tp_cstmr{display:block; width:100%;}
dd.cust-rvw img{margin:0;}
.cnd-rgt,.rght{float:right; width:730px;}
.cnd-rgt p{line-height:22px; text-align:justify;}
.cnd-bann{display:block; height:100px;  border:1px solid #e6e6e6; border-radius:5px; background-size:auto 100% !important;}
.cnd-bann h1{margin:15px 0 0 18px; font-size:24px;}
.cnd-bann .bann-text{margin:5px 0 0 18px; font-size:1.131em; color:#7e7e7e; line-height:22px;}
.cnd-bann .bann-text h2 { width:565px;}
.faqs{display:inline-block; width:100%; margin:0 0 20px 0;}
.faqs p,.faqs h3,.faqs h4,.faqs h5,.faqs h6{padding-left:15px; padding-right:15px;}
.faqs ul li,.rght li{background:url(../images/green-rarow.png) 0 7px no-repeat; padding:6px 25px 5px 25px; margin:0 15px; font-size:14px; line-height:21px;}
.rght{margin-bottom:15px;}
.faqs h2.active, .faqs h2.inactive{cursor:pointer;font-size:1.231em; height:36px; line-height:36px; margin-bottom:1px;padding:0 0 0 10px; display:block; color:#555; border-bottom:1px solid #d8d8d8; background:url(../images/accordion.png) right center no-repeat;}
.faqs h2:hover,.faqs h2.active{background:url(../images/accordion-active.png) right center no-repeat; color:#fff;}
.Avlbl-Trtmnts{margin:0 auto; background-position:0 -1395px; position:relative; width:267px; text-align:center; top:-8px;}
.Avlbl-Trtmnts span{background-position:0 -1512px; line-height:47px; padding:0 0 0 25px; font-size:18px; color:#a9a7a7;}
.prod_list_img{float:left; height:110px; width:110px; background:#fff; border:1px solid #e5e5e5; text-align:center;}
.prod_list_img img{vertical-align:middle;}
.jcarousel .prod_list_img img{margin-top:5px;}
.prod_list_txt{float:right; width:79%;}
.prod_list_txt dt a{font-size:17px; color:#3678BB;}
.prod_list_txt dd{float:left; margin:5px 0 10px 0; line-height:18px;}
/*Category Slider*/
.CarslidWrp{float:right; width:698px; margin-bottom:15px; position:relative;}
.CarslidWrp{margin:25px 0 20px 0; padding:0 15px 20px 15px; position:relative; border-radius:4px; background:#fefefe; background:-moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f9f9f9)); background:-webkit-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); background:-o-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); background:-ms-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 ); background:linear-gradient(top, #fefefe 0%,#f9f9f9 100%); border:1px solid #f2f2f2;}
.CarslidWrp .rgtarw, .CarslidWrp  .lftarw{top:75px !important;}
.CarslidWrp .prdts{float:left; width:100%; margin:15px 0 0 0px; padding:0px 0;overflow:hidden;}
.CarslidWrp .prdts li{float:left; width:703; text-align:left; margin:0 15px 0 0; height:auto !important}
.CarslidWrp .prdts li span, .CarslidWrp .prdts li .cats_text{display:block;}
.CarslidWrp .prdts li .cats_text span{font-size:1.6em; font-weight:normal; padding:0 0 5px 0}
.CarslidWrp .prdts li .cats_text{margin:10px 0 0 0; padding:0 0 0 10px; border-left:2px solid #438cc7; min-height:95px;}
.CarslidWrp .disabled{-moz-opacity:0.50;opacity:0.50;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);}
/*Product*/
.brdcrmb-User{font-size:13x; line-height:15px; padding:17px 0 6px 0;}
.brdcrmb{float:left;}
.brdcrmb a{float:left; background-position:right -712px; padding:0 14px 0 0; margin:0 9px 0 0; color:#939393;}
.brdcrmb .actv{color:#438cc7;}
.WelcomeU{float:right;}
.WlcmName{color:#438cc7;}
.prod-hed h1{font-size:20px; font-weight:bold; float:left;}
.prod-hed span{float:right; position:relative; top:8px;}
.prod-hed span img{vertical-align:middle;}
.prod-main{display:block; float:left; width:99.8%; border:1px solid #f0f0f0; border-radius:4px; margin:10px 0 15px 0;}
.prod-top{float:left; width:100%; border-bottom:1px solid #e6e6e6; padding:0 0 15px 0; position:relative;}
.prod-img{float:left; margin-right:40px; width:390px;}
.prod-med-img{padding:10px 0; text-align:center; width:300px; float:left;}
.prod-thumb-img{float:left; padding:15px;width:52px;}
.prod-thumb-img a img{background-color:#FFFFFF; border:4px solid #EEEEEE; height:45px; margin:5px 0; padding:1px; border-radius:8px;}
.prod-top dl.qct-fct{float:left; margin-top:10px; max-width:470px;}
.prod-top dl.qct-fct dt{font:bold 1.538em Arial; padding:10px 0;}
dl.qct-fct dd{font:1.077em/25px Arial; padding:0 0 0 24px; background-position:-516px -785px;}
dl.qct-fct dd.qct-fct-link{background:none; padding:0; margin:7px 0 0 0;}
.qct-fct-link a{color:#4890cb; background-position:-514px -1432px; padding:0 0 0 24px; text-decoration:underline;}
.prod-bot{float:left; width:97%; padding:10px 1.5% 8px 1.5%; background:#f9f9f9; margin:1px 0 0 0;}
.prc-bx{float:left; margin:25px 5px 0 0; width:480px; position:relative;}
.prc-bx ul li{float:left; margin:0 0px 5px 0; text-align:center; width:98%;}
.prc-bx ul li + li{margin:5px 0 5px 0;}
.prc-bx ul li select{border:1px solid #E8E6E6; float:left; font-size:13px; padding:5px; width:224px;}
.prc-bx ul li .prc-box-cham{width:465px;}
.prc-bx .prced_mdcl_que_btn{width:445px;}
.prc-bx-slt2{margin:0 0 0 18px;}
.prc-bx-link{float:left; float:left; width:350px; margin:20px 0 0 0;}
.prod-bot ul.prod-bot-links a{background-position:-516px -921px; font-size:1.077em; line-height:24px; padding-left:20px; text-decoration:underline;}
.prod-bot ul.prod-bot-links a img{margin:7px 0 0 5px;}
.str-stck-smday{float:left; margin:1px 0 0 0; width:96%; padding:10px 2% ; border-top:1px solid #e6e6e6; background:#ffffff; background:-moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f4f4f4)); background:-webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); background:-o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); background:-ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); background:linear-gradient(top, #ffffff 0%,#f4f4f4 100%);}
.str{float:left; width:190px;}
.str span img{margin:5px 3px 0 0; float:left;}
.str span{float:left; width:100%;}
.stck{float:left; width:140px;}
.stck strong{color:#299F0E; font-size:1.385em; line-height:26px;}
.smday{background-position:0 -828px; float:left;line-height:36px; padding:0 0 0 45px; margin:3px 0 0 0;}
.lflte{background:#F8F8F8; border:1px solid #EEEEEE; float:left;  width:95.9%; padding:16px 14px; margin:15px 0 0 0; border-radius:4px;}
.lflte img{float:left; margin:0 15px 25px 0;}
.lflte-cnt{font-size:12px; width:640px; float:left;}
.lflte-cnt a{font-size:13px; font-weight:bold; text-decoration:underline;}
.cnd-rgt dl.avbl-trtmnt{border:1px solid #F2F2F2; border-radius:4px; margin:15px 0 0 0;}
.cnd-rgt dl .cnd-hed span{font-size:1.3em; color:#565656; font-weight:bold;}
.cnd-rgt .rltdlnks a{background-position:-530px 9px; width:45%; display:inline-block; width:47%; padding-left:13px;}

/*login*/
.Mlogin{display:block; width:100%;}
.MloginL{float:left; width:500px; margin:21px 0 0 0}
.MloginL p{padding:0; margin:0 0 24px 0;}
.MloginLB,.MloginLB2,.MloginLB3{display:block; padding:0 0 15px 50px;background-position:0 -1607px; color:#000;min-height:40px;}
.MloginLB2{background-position:0 -1740px;}
.MloginLB3{background-position:0 -1886px;}
.MloginLB b,.MloginLB2 b,.MloginLB3 b{display:block;}
.MloginR{float:right;background:#f3f3f3; width:390px; border-radius:6px; border:1px solid #eaeaea; padding:16px 20px 20px; margin:25px 0 0 0;}
.MloginR form{float:left; width:100%;}
.MloginR h2{font-weight:bold; margin:0 0 28px 0;}
.UserPass{float:left; width:100%; padding:0 0 10px 0;}
.UserPassL{float:left; width:100px; line-height:26px;}
.UserPass input{width:235px; height:18px;}
.log-btn{margin:0 0 0 100px; float:left;}
.log-btn a{clear:both; float:left;}
.log-btn a + a{margin-top:12px;}
.LFPass{float:left; width:100%;}
.frmforgot{margin:0 0 0 0; float:left; margin:20px 0 0 0;}
#signin_menu{position:absolute; right:0; top:80px; z-index:99999; background:#25be9c; border-radius:4px; box-shadow:0 0 35px -10px #606060;}
.top-login-box{width:240px; padding:20px; position:relative;float:right}
.top-login-box input[type="text"],.top-login-box input[type="password"]{width:85%; padding:3px 1.5%; float:left;}
.top-login-box .close-icon{width:16px; height:16px; background:url(../images/hs/closeX.png) left top no-repeat; position:absolute; right:-7px; top:-7px;}
.top-login-box .close-icon:hover{background-position:left bottom;}
.top-login-box ul,.top-login-box ul li{float:left; width:100%;}
.top-login-box .red-err{display:block; float:left; padding-left:0;}
.top-login-box .showmsg{background-image:none; padding:8px 0 6px 10px;}
.top-login-box li + li,.frmforgot{margin:15px 0 0px 0;}
.login-arrow{width:13px; height:7px; background:url(../images/login-arrow.png) left top no-repeat; position:absolute; right:76px; top:-7px;}
.top-login-box .ftlnks{color:#fff;}
/*end*/

/*SEO*/
.showmsg{background:url(../images/success-icon.png) 20px 11px no-repeat #FAF9E9; border:1px solid #27bf9c;color:#1F88DD; margin-bottom:10px; padding:13px 0 15px 50px; border-radius:6px;clear:both;}
.showerrormsg, .red-err .showmsg{background:url(../images/error_icon.png) 4px 8px no-repeat #FAF9E9; border:1px solid #F7B7B7;color:#FF0000; margin-bottom:10px; padding:13px 0 15px 50px; border-radius:6px;clear:both;}
.red-err .showmsg{margin:10px 0 0 0;}

/* Sitemap CSS */
.sitemap_cnt{float:left; width:940px; padding:0 20px 20px 20px;}
ul.site_cat{list-style:none; margin:0; padding:0;}
ul.site_subcat{list-style:none; margin:0; padding:10px 0 0 15px; line-height:22px;}
ul.site_cat li.catlnk{float:left; width:440px; margin:15px 30px 0 0; padding:0 0 10px 0; border-bottom:1px solid #D5D9D8;}
ul.site_cat li.catlnk a strong{background-position:-516px -1431px; font-weight:bold; padding:0 0 0 15px; font-size:14px;}
ul.site_cat li.catlnk a strong:hover{color:#3678BB;}
ul.site_cat li.catlnk span{margin:0; padding:7px 0 15px 0;}
ul.site_cat li.catlnk span a{background-position:-1023px -1104px; padding:0 0 7px 7px;}
ul.site_subcat li{margin-bottom:5px;}
ul.site_subcat li a{background-position:-530px 4px; padding:0 0 7px 10px;}
ul.site_subcat li a:hover{color:#3678BB; text-decoration:underline;}


/* PRICE TABLE */
.tblclr{background:#fff;}
.drg_hdng{font:normal 21px Arial, Helvetica, sans-serif;}
.drg_mncftr, .nrml_txt{font-weight:bold;}
.drg_mncftr img{vertical-align:middle;}
.hdng, .tbl_bdr{font:bold 15px Arial, Helvetica, sans-serif; background:#31b890 url(../images/trnsprtbg.png) repeat-x 0 0; color:#fff;}
.gryrw{background:#ececec url(../images/trnsprtbg.png) repeat-x 0 0; padding:10px 0;}
.gryrw .bbtn{margin:0 10px;}
.bdr{background:#e1e1e1 url(../images/trnsprtbg.png) repeat-x 0 0;}
input.bbtn{background:#f98000 url(../images/trnsprtbg.png) repeat-x 0 0 !important; color:#FFFFFF !important; padding:5px 10px; margin:0 10px; text-decoration:none; white-space:nowrap; font-weight:bold; cursor:pointer; border:none;}
.prod_list_chmpx{float:left; width:94%; background:#ececec url(../images/trnsprtbg.png) repeat-x 0 0; padding:15px; margin-bottom:10px; border:1px solid #e1e1e1;}
.prod_list_img{float:left; background:#fff;}
.prod_list_img img{padding:3px; border:2px solid #fff;}
.prod_list_txt_chmpx{float:right; width:80%;}
.prod_list_txt_chmpx dt{font-size:17px;}
.prod_list_txt_chmpx dd{float:left; margin:5px 0 10px 0;}
.prod_list_txt_chmpx dd span{float:left; font-size:14px; font-weight:bold;}

/*delet css*/
.member_txt{float:left; width:100%; color:#333; font-size:12px; padding:0px 0 20px 0;}
.iconspad{float:left;width:100%; text-align:center; margin:30px 0 0px 0;}
.iconspad span{width:130px; margin:0 10px; display:inline-block; padding:0 0 30px 0;}
.iconspad span strong{float:left; width:100%;} 
/*end css*/

/*contactus*/
.contactus{width:100%; display:block; margin:20px 0 0 0;}
.contactus li{background:none;}
.contactus .toppad{width:175px; padding-top:3px;}
.contactus .tick-err,.contactus input,.contactus textarea,.contactus select{float:left;}
.contactus .red-err{width:100%;float:left;}
.contactus .PD_tR{width:400px;}
li.cont-usmsg{padding-right:0;padding-left:0;}
#signin_menu{overflow:visible!important}

/* BMI */
#bmicalc{border:1px solid #e9e9e9 !important;}
#biggroesse input, #biggewicht input, #bigbmi input, #groesseslider, #gewichtslider, #bmislider{background:#3275AC !important; border:0 !important;}
#sliderbtngroesse, #sliderbtngewicht, #sliderbtnbmi{background:#26BE9C !important; border:1px solid #26BE9C !important;}
#groesseinput input, #gewichtinput input, #bmiinput input{width:4em !important; background:#eaeaeb !important; border:1px solid #ccc !important; font-weight:bold; color:#3275AC !important;}
.price-tbl dt img{max-height:22px}
.price-tbl .manufacture_btn img{margin-right:0px;}
.PAYMENT_MSG{width:100%; width:100%; margin:0 0 10px 0; }
/*Contact Page Captcha*/
.cpt-img{border:1px solid #e5e5e5; float:left; border-radius:6px;}
.captcha_reload{padding:24px 0 14px 20px; cursor:pointer;}
/* END */

/* New SiteMap CSS*/
.SiteMap{line-height:1.6em;}
.SiteMap h3.SiteMap{margin-top:18px;}
.SiteMap ul, .SiteMap li{list-style:none outside none; margin:7px 0 0 0; padding:0;}
.SiteMap li ul{margin:0 0 8px 21px;}
.SiteMap li a{background:url(../images/nav-arrow.png) no-repeat scroll left 3px rgba(0, 0, 0, 0); font-size:14px; font-weight:bold; padding-left:15px;}
.SiteMap a, .SiteDef{background:url(../images/nav-arrow.png) no-repeat scroll left 3px rgba(0, 0, 0, 0); font-size:14px; font-weight:bold; padding-left:15px; text-decoration:none; color:#007cc2;}
.SiteMap li a:hover, .SiteMap a:hover{text-decoration:none; background-position:3px 3px; text-decoration:underline;}
.SiteMap li li a{background:url(../images/olive-dot.png) no-repeat scroll 1px 5px rgba(0, 0, 0, 0); color:#007cc2; font-size:12px; font-weight:normal; text-decoration:none;}
.SiteMap li li a:hover{background-position:1px 5px; text-decoration:underline;}
.SiteMap li li li a{background:url(../images/olive-dot.png) no-repeat scroll left 5px rgba(0, 0, 0, 0); font-size:12px; font-weight:normal; color:#3A3A3A;}
.SiteMap li li li a:hover{background-position:left 5px}
ul.SeoPageLink li a{color:#3A3A3A; margin:0 0 8px 21px;}
.SiteMap ul ul{margin-bottom:0px;}
ul.ProductLinks li a{background:url(../images/yellow-dot.png) no-repeat scroll 1px 5px rgba(0, 0, 0, 0); color:#3a3a3a;}
ul.GeneralLink li li a{color:#3A3a3a;}
/* end */

/* Drug Page CSS */
.prod_content_txt{float:left; width:100%; color:#444; padding:10px 0; font-size:13px; margin-bottom:15px;}
.prod_content_txt_lft{float:left; width:560px;}
.prod_content_txt_rt{float:right; width:190px;}
.pr-small{text-align:center; margin-bottom:5px}
.prod_content_txt_rt li{background:none; margin:0 0 5px 0; padding:0;}
.prod_content_txt_rt li select{margin:0 0 5px 0 !important; width:190px;}
.prod_content_txt_rt{text-align:center;}
.prod_content_txt_rt .prced_mdcl_que_btn{float:none;}
.blog-list li{list-style-type:disc; padding:0 0 10px 0; margin:0 0 0 15px;}
dl.esystp{background:url(../images/easy_stp_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); float:left; height:89px; margin-bottom:1px; position:relative; width:1000px;}
dl.esystp dd{color:#555; display:inline; float:left; font-size:16px; padding-top:51px; position:absolute; width:180px; text-transform:uppercase; }
dl.esystp dd:hover{background:url(../images/easy_hover-1.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); color:#555; display:inline; float:left; position:absolute; width:180px; text-transform:uppercase;}
.per_info_proc{float:left; width:1000px; margin-top:19px;}	
dl.perstp{background:url(../images/proc_stp_bg.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); float:left; height:73px; margin-bottom:1px; position:relative; width:1000px;}
dl.perstp dd{color:#555; display:inline; float:left; font-size:13px; padding-top:12px; position:absolute; width:205px;}
.FL.w50.DeliveryADD > h4{font-size:17px; margin-bottom:30px; font-weight:bold;}
.ftr_rw{float:left; position:relative; width:650px; z-index:99; margin-top:3px;}
.ftr_rw dl{background:#f1f1f1; float:left; height:40px; margin-bottom:21px; position:relative; font-weight:bold; border:1px #e0e0e0 solid; border-radius:5px;}
.ftr_rw dt:hover span span{ display:block;}
.ftr_rw dd:hover span span{display:block;}
.ftr_rw dl dt{ background-color:#f1f1f1; height:40px; border-radius:5px 0px 0px 5px;}
span.ftrstp{background-color:#fff; border:1px solid #448dc8; border-radius:5px; box-shadow:1px 1px 11px #7b7b7b; color:#555; cursor:default; display:none; font-size:12px; height:38px; left:-5px; line-height:1.4em; padding:8px; position:absolute; text-align:center; top:-61px; width:140px; z-index:999;}
span.ftrstp:hover{ background-color:#fff; border:1px solid #448dc8; border-radius:5px; box-shadow:1px 1px 11px #7b7b7b; color:#555; cursor:default; font-size:12px; height:38px; left:-5px; line-height:1.4em; padding:8px; position:absolute; text-align:center; top:-61px; width:140px; z-index:999;}
.ftr_rw dt, .ftr_rw dd{background-image:url(../images/easy_stp_img2.png); background-position:-10px -67px; background-repeat:no-repeat; float:left; width:140px; z-index:9999; position:relative; font-size:13px;}
.ftr_rw dl dt.act i{color:#fff; display:block; float:left; font-style:normal; margin:56px 0 0 104px; text-align:center;}
.ftr_rw dd{background-position:36px -68px; height:40px; margin:0; text-align:center;}
dd.step1 i{color:#ffffff; display:block; font-style:normal;text-transform:none; position:relative; z-index:999; margin-top:10px !important;margin-left:0px !important; }
dd.step1{background-position:-31px -183px; width:180px;}
dd.step2{background-position:-25px -331px !important; width:208px;}
dd.step3{background-position:-20px -399px !important; width:80px; padding:0 0 0 40px;}
.ftr_rw dd + dd{background-position:106px -142px;}
dd.step2 i{color:#555; display:block; font-style:normal; margin-top:10px; text-transform:none; margin-left:0px;}
.ftr_rw dd + dd + dd{background-position:106px -214px; height:40px;}
dd.step3 i{color:#ffffff; display:block; font-style:normal; margin-top:10px; text-transform:none; margin-left:0px;}
.rig_Arrow{background:url(../images/four-step-arrow.png) left top no-repeat;position:absolute; right:10px; top:12px; height:20px; width:18px;}
dd.step1 .rig_Arrow{right:-2px;}
dd.step2 .rig_Arrow{right:5px;}
.ftr_rw .step3:hover .rig_Arrow{display:none;}
.ftr_rw dd:hover i, .ftr_rw dd.step1.active i, .ftr_rw dd.step3.active i{color:#555;}
.ftr_rw .step:hover{background-position:-10px -67px; color:#555555;}
.ftr_rw .step1:hover, .ftr_rw .step1.active{color:#ffffff;}
.ftr_rw .step3:hover, .ftr_rw .step3.active{color:#555555;}
.ftr_rw dd.step1:hover .rig_Arrow, .ftr_rw dd.step2:hover .rig_Arrow, .ftr_rw dt:hover .rig_Arrow, .ftr_rw dt:hover .rig_Arrow{border-color:transparent transparent transparent #26be9c;}
.ftr_rw dd:hover .rig_Arrow, .ftr_rw dt.act .rig_Arrow, .ftr_rw dt:hover .rig_Arrow, .ftr_rw .active .rig_Arrow{display:block;}
.ftr_rw .active .rig_Arrow + .ftr_rw .active .rig_Arrow{border-color:transparent #bdddf7 transparent #f1f1f1;}
dt.step i{display:block; font-style:normal; margin-left:50px; margin-top:10px;  text-transform:none;}
.ftrstp{background-color:#fff; cursor:pointer; position:relative;}
.ftrstp{border:1px solid #448dc8; border-radius:5px; box-shadow:1px 1px 11px #7b7b7b;
color:#fff; cursor:default; display:none; font-size:13px; line-height:1.4em; padding:8px; position:absolute; width:164px; z-index:999; text-align:center; color:#555;}
#footerStep2, #footerStep3{left:0px;}
#footerStep4{left:-30px;}
.arrow_BTN{height:40px; left:-43px; position:absolute; top:-2px; width:40px;}
/*end*/

.billing_addr{height:266px;}
.faq_butt{float:right; margin-top:10px;}
dl.stinfo{float:left; padding:10px 20px 10px 30px; border-left:1px solid #fff;}
dl.stinfo dt{font-size:18px; color:#444;}
dl.stinfo dd{float:left; margin:10px 0 0 10px; width:120px;}
dl.stinfo dd:first-child{margin-left:0;}
dl.stinfo a{display:block; background:url(../images/arwbull.png) no-repeat 0 8px; padding-left:10px; margin:2px 0;}

/*TrustPilot H */
.trust-bg{width:1000px; float:left; margin-bottom:15px; padding:0; border:1px solid #e1e1e1; border-radius:5px; overflow:hidden; height:175px;}
.trust-bg .Htrust{width:1000px; display:block; margin:0; padding:0; float:left;}
.trust-bg .Htrust dt{width:98%; background:#26be9c; padding:6px 10px 6px 10px; font-size:15px;}
.trust-bg .Htrust dt a{color:#FFF;}
.trust-bg .Htrust dt img{padding:0}
.trust-bg .Htrust dd{width:298px; padding:15px 35px 0 25px; float:left; text-align:center;}
.trust-bg .Htrust dd .tp-badge{float:left; width:136px; margin-right:40px;}
.trust-bg .Htrust dd .tp-badge img{ margin-top:15px; margin-top:-10px;}
.trust-bg .Htrust dd b{font-size:30px; font-weight:bold;}
.trust-bg .Htrust dd.cust-rvw{text-align:left; margin:10px 20px 10px 0; border-left:1px solid #eaeaea; padding:5px 20px; width:260px; border-top:none; min-height:120px}
.trust-bg .Htrust .cust-rvw .tp_ttl{color:#3678BB; float:left; width:100%; font-size:1em; font-weight:bold; padding:5px 0 5px 0;}
.trustHomeTp{width:250px; float:left; padding:10px 0px 5px 0px;}

/*Our Medical Team Page*/
.Our_team_bx{width:743px;position:relative;overflow:hidden;display:inline-block;height:308px;margin:0 0 18px;border-radius:6px;border:1px solid #ebeaea;}
.Our_team_bx .Blue_bg{background:#3e2a6d; position:absolute; bottom:0; left:0; width:100%; color:#fff; font-size:19px; text-align:center; opacity:0.9; padding:17px 0;}
.Doc_detail{width:690px;background:#f9f6ff;padding:20px 20px 5px 20px;border-radius:6px;display:inline-block;margin:0 0 18px;border:1px solid #ebeaea;line-height:1.4em;}
.Doc_in{background:#f6f6f6;}
.Doc_detail strong{padding:20px; color:#4a3082; font-size:17px; font-weight:bold;}
.Doc_detail span:first-child{width:164px;height:145px;border:1px solid #e9e9e9;border-radius:5px;float:left;overflow:hidden;margin-bottom:20px;}
.Doc_detail h2{margin:0 0 3px; font-size:17px; color:#448dc8;}
.Doc_detail span{float:right; width:497px;}
.Doc_detail p{margin-top:15px;}
.LastPara{float:left; width:743px; font-size:14px; font-weight:bold;}
/*end*/

.ProUl, .ProUl li{list-style:none; margin:0; padding:0; width:56%; float:left;}
.ProUl{margin:20px 0 0px 0;}
.ProUl li a{display:inline-block; margin-bottom:10px; text-decoration:underline;}
.ProUl li a:hover{text-decoration:none;}
.ProUl li{float:left; padding:7px 0 15px 30px; color:#555; font-size:14px; width:95%;}
.ProUl .order-3h{background:url(../images/delivery-time-icn.png) left 5px no-repeat;}
.ProUl .Exp-dely{background:url(../images/delivery-date-icn.png) left 5px no-repeat;}
.ProUl .dispatch{background:url(../images/delivery-dispach.png) left 5px no-repeat;}
.ProUl .del_wit24h{background:url(../images/delivery-van.png) left 5px no-repeat; padding:8px 0 15px 50px;}
.grn-txt{color:#438cc7; font-weight:bold;}
.right-icon{display:inline-block; height:16px; width:19px; background:url(../images/delivery-currect-icn.png) left top no-repeat; margin:0 0 0 10px; vertical-align:middle;}
.SubCate{font-weight:bold;color:#438cc7;font-size:1.2em !important;margin-left:-20px; background-color:#afe7db;width:240px;}

/*viagrabox starts*/
.One_Prodpag{border:1px solid #e1e1e1; border-radius:4px; width:725px; float:left; margin:18px 0 0 0; padding:0px;}
.One_Prodpag .prced_mdcl_que_btn{ font-size:16px;}
.One_Prodpag .prced_mdcl_que_btn span{ line-height:32px;}
.PkgBox{float:left;}
.PkgBox .Imgp{border:0px solid #e4e4e4; border-radius:0px; padding:1px; background-color:#fff; width:40px; height:40px}
.PkgBox .Pbtn{padding:7px 10px; margin-left:10px; font-size:16px;}
.PkgBox select{margin:0 0 5px 0 !important;}
.PkgBox td, .PkgBox select, .PkgBox a.view-price-btn, .PkgBox a.view-price-btn span{font-size:13px;}
.PkgBox .title{font-size:12px; font-weight:bold; color:#4a4a4a; line-height:20px;}
.PkgBox select{padding:7px 0 7px 7px;}
.PkgBox .prc-box-cham{width:400px;}
.PkgBox .prc-bx-slt2{margin:0 0 0 0;}
.total-trial-price{float:left; width:100%; margin:5px 0 0 0;}
.total-trial-price .prced_mdcl_que_btn{margin:5px 0 0 0;}
/*end*/

.country-p-up{position:absolute; bottom:35px; left:20px; font-size:14px; font-weight:bold; color:#3275ac;}
.green-txt{color:#438cc7;}
.red-txt{color:#ff0000;}

/*smoking calculator*/
.cal_box{float:left; box-shadow:0px 10px 20px 0px #CCCCCC; background:#BBBBBB; border-bottom:1px solid #BBBBBB; border-radius:16px; padding:0 0 5px 0;}
.cal_cntnt{float:left; width:360px; background:#f2f2f2; border-radius:9px; border:1px #d9d9d9 solid; font-size:15px; color:#666666; padding:20px 20px 0 20px;}
.cal_head{color:#fff; padding:20px 0px; width:345px;  font-size:25px; text-transform:uppercase; margin:0 auto; background:#438cc7;background:-moz-linear-gradient(45deg, #438cc7 0%, #438cc7 39%, #5596cb 39%, #5596cb 100%);background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#438cc7), color-stop(39%,#438cc7), color-stop(39%,#5596cb), color-stop(100%,#5596cb));background:-webkit-linear-gradient(45deg, #438cc7 0%,#438cc7 39%,#5596cb 39%,#5596cb 100%);background:-o-linear-gradient(45deg, #438cc7 0%,#438cc7 39%,#5596cb 39%,#5596cb 100%);background:-ms-linear-gradient(45deg, #438cc7 0%,#438cc7 39%,#5596cb 39%,#5596cb 100%);background:linear-gradient(45deg, #438cc7 0%,#438cc7 39%,#5596cb 39%,#5596cb 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#438cc7', endColorstr='#5596cb',GradientType=1 ); text-align:center; border-radius:6px; font-weight:bold; text-shadow:0px 1px 1px #333333; border:1px solid #b4b5b7; box-shadow:inset 4px 4px 7px -7px #000000;}
.cal_rw{padding:23px 7px; line-height:23px;}
.cal_rslt{text-align:center;}
.ques{ font:bold italic 21px calibri,Verdana, Geneva, sans-serif;}
.cal_cntnt .orng-btn, .cal_cntnt .grn_btn_smok{font-size:18px; font-weight:normal; padding:4px 13px;}
.cal_cntnt .orng-btn span, .cal_cntnt .grn_btn_smok span{padding:0 25px 0 0;}
.grn_btn_smok{cursor:pointer; white-space:nowrap; color:#FFFFFF; display:inline-block; font-weight:bold; border-radius:5px; text-align:left; padding:2px 10px; background:#f99d04; background:-moz-linear-gradient(top, #78d1b6 0%, #47c09c 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#78d1b6), color-stop(100%,#47c09c)); background:-webkit-linear-gradient(top, #78d1b6 0%,#47c09c 100%); background:-o-linear-gradient(top, #78d1b6 0%,#47c09c 100%); background:-ms-linear-gradient(top, #78d1b6 0%,#47c09c 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#78d1b6', endColorstr='#47c09c',GradientType=0 ); background:linear-gradient(top, #78d1b6 0%,#47c09c 100%); border:0; line-height:26px;}
.share{float:left; margin:0 0 10px 0; width:100%;}
ul.share li{background:none; float:left; margin:0px; width:41.5%; padding:6px 5px 5px 5px;}
ul.share li+li{text-align:right;}
.cal_cntnt select{background:0; padding:6px;}
.cal_cntnt input[type="text"]{padding:6px; width:45px;}
#original{margin:10px 0 0 0;}
/*end*/

.pills_txt{float:left; width:100%;}

/*liveChat*/
.bottom_liveChat{position:fixed; bottom:0; width:125px; height:105px;}
.bottom_liveChat a span{display:block; height:105px;}
.bottom_liveChat a .online{background:url(../images/live-chat-button.png) left top no-repeat;margin:0 5px 0 5px;}
.bottom_liveChat a .offline{background:url(../images/live-chat-button-offline.png) left top no-repeat; margin:0 5px 0 5px;}
.ToTraceWidth{border:none;}
/*end*/

/* Product popup nav-RN */
.fixed_product_details{background:#73aad6 url(../images/top-product-bar-bg.png) left bottom repeat-x; width:100%; left:0; top:0; padding:8px 0 8px;-webkit-box-shadow:1px 4px 16px 0px rgba(158,158,158,1);-moz-box-shadow:1px 4px 16px 0px rgba(158,158,158,1);
box-shadow:1px 4px 16px 0px rgba(158,158,158,1);z-index:1000;}
.TopProdCont{margin:0 auto; width:87%; max-width:1170px; font-size:16px; color:#fff; position:relative;}
.TopProdImg{border:1px solid #d7d7d7; border-radius:5px; padding:3px 5px 2px; background:#fff; margin:0 14px 0 0; position:relative; display:inline-block; vertical-align:middle;}
.TopProdImg img{height:34px;}
.TopProdImg:hover{cursor:pointer;}
.TopProdCont span .Toptrlpck{width:340px;}
.TopProdCont span select{border-radius:5px; float:left; margin-right:4px; border:1px solid #76c5f0; padding:5px; height:32px;width:190px;}
.TopProdCont span .prc-box-cham{width:360px;}
.TopProdDrp{width:760px;display:inline-block; vertical-align:middle;}
.TopBuySpn{float:right; min-width:370px; margin:3px 0; *width:400px; *margin-top:-40px;}
.TopBuySpn .free-deltxt{background:url(../images/circle_bull-new.png) left 4px no-repeat; color:#888; padding:0 9px 0 22px;}
.TopBuySpn .pills_buy_now_btn{float:right; margin-left:10px;}
.fixed_product_details .fixed_prod_images{top:48px; border:1px solid #c1c1c1; box-shadow:4px 6px 7px #BDBDBD; padding:30px 30px; position:absolute; background:#fff; height:240px; width:350px; left:0;}
#fixed_prod_images .prod-med-img{width:260px !important;}
#fixed_prod_images img{border:1px solid #e1e1e1; border-radius:10px;}
.fixed_prod_images p{text-align:center; color:#999; width:100%; display:inline-block; margin:19px 0 0; line-height:normal;}
#fixed_product_details .prced_mdcl_que_btn span{padding:0 34px 0 0 !important; line-height:32px;}
#fixed_product_details .prced_mdcl_que_btn{float:right !important;}
.fixed_prod_images .prod_img_v2{float:left;}
.fixed_prod_images .prod_img{display:block; margin:0 auto; float:none;}
.fixed_product_details .stun_ex{float:right; font-size:13px; font-weight:bold; padding:0 9px 0 20px; background:url(../images/tick-tp.png) left center no-repeat; width:140px; margin:9px 0 0 0;}
.TopProdName{width:200px; display:inline-block;}
.fixed_product_details .prced_mdcl_que_btn{font-size:15px !important;}
.TopProdDrp .cta_btn{display:block;}
.TopProdDrp .cta_btn span{text-align:center;}
/* end */
.ed_discount{position:absolute; right:-85px; top:-11px;}

/*Home loginbox*/
.logo-box{ margin-top:15px;}
.login-page, .signout-box{border:1px solid #eeeeee; border-radius:4px; background:f0f0f0; background:-moz-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#f0f0f0)); background:-webkit-linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); background:-o-linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); background:-ms-linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f0f0f0',GradientType=0 ); background:linear-gradient(top, #FFFFFF 0%,#f0f0f0 100%); padding-top:13px; padding-bottom:2px;}
.login-page, .signout-box{margin-top:15px; padding-top:0;}
.login-page a, .signout-box span{display:inline-block; background:url(../images/login-box.png) 12px 20px no-repeat;  padding:25px 0 20px 70px;width:180px; font-size:16px; font-weight:bold; color:#444444;}
.login-page a span, .signout-box span a{ display:block; font-size:14px; color:#464242; padding-top:6px; font-weight:normal;}
.login-page a span img, .signout-box span a img{ vertical-align:middle; margin-right:5px;}
.signout-box span{font-size:14px;}
.signout-box span a{float:left; margin-right:5px;}
/*end*/

/* new product page css */
.Process_bx .step1, .Process_bx .step2, .Process_bx .step3, .Process_bx .Devider, .Deliver_time, .Odr_time, .Pdf, .Lft_tab a i, .Pro_slide_bx .Lft_arrow, .Pro_slide_bx .Rgt_arrow, .left-payment{background:url(../images/site-icon.png) left top no-repeat;}
.Top_prim_bx{width:100%; display:inline-block; margin:0; border-bottom:1px solid #d3d3d3; padding-bottom:15px;}
.Top_prim_bx h1 {width:70%; float:left; margin-top:10px;}
.Top_prim_bx span{float:right; margin:0 0 0 10px;}
.Top_parma .highslide-active-anchor img{visibility:visible;}
.Title_img{border-bottom:1px solid #b2b58d; padding:0 0 11px; margin:-20px 0 0;}
.Title_img img{position:relative; top:7px;}
.Lft_nav{width:705px; float:left; padding:0 15px 0 0; margin:18px 0 0;}
.Lft_tab{width:100%; float:left;}
.Lft_tab a{background:#438cc7; border:1px solid #d8d8d8; border-bottom:none; border-radius:5px 5px 0 0; padding:9px 12px 9px 12px; display:inline-block; float:left; margin:0 0 0 5px; font-size:14px; color:#fff; position:relative;}
.Lft_tab a.view_more_tab{padding-right:38px;}
.Lft_tab a.view_more_tab i{float:right; background-color:#1b78c4; background-position:9px -331px; width:29px; height:33px; position:absolute; top:0; right:0; border-radius:0 4px 0 0;}
.Lft_tab a:first-child{margin:0;}
.Lft_tab a:hover, .Lft_tab a.Act, .Lft_tab ~ .Lft_tab a:hover, .Lft_tab ~ .Lft_tab a.Act{background:#fff; color:#438cc7; padding:12px 12px 11px 12px; margin-top:-5px;}
.Lft_tab a.view_more_tab:hover{padding-right:38px;}
.Lft_tab a.view_more_tab:hover i{height:39px;}
.Lft_content{padding:23px 16px; width:95%; float:left; line-height:24px; font-size:14px; color:#515151; border:1px solid #d3d3d3; border-radius:0 6px 6px 6px; margin:-1px -4px 40px 0px;}
.bottLftCont{margin-bottom:0;}
.Lft_content p{line-height:24px;}
.Process_bx{display:table; border-top:1px solid #d8dac6; border-bottom:1px solid #d8dac6; padding:25px 12px; line-height:1.3em; margin:37px 0 24px;}
.Process_bx .step1, .Process_bx .step2, .Process_bx .step3{background-position:left -417px; float:left; padding:0 0 0 45px; display:inline-block; font-size:14px;}
.Process_bx .step2{background-position:left -499px;}
.Process_bx .step3{background-position:left -590px;}
.Process_bx .Devider{width:30px; background-position:left -111px; float:left; height:50px; display:inline-block;}
.Rgt_nav{width:257px; float:right; margin:-27px 0 0 0;}
.Pro_slide_bx{width:254px; height:195px; position:relative;}
.Pro_slider_in{width:208px; height:195px; margin:0 22px; overflow:hidden; position:relative;}
.Pro_slider_in img{width:180px !important;}
.Pro_slide_bx ul{position:absolute; width:1000px}
.Pro_slide_bx ul, .Pro_slide_bx li{margin:0; padding:0; list-style:none;}
.Pro_slide_bx li{text-align:center; float:left; width:227px; height:195px;}
.Pro_slide_bx .Lft_arrow, .Pro_slide_bx .Rgt_arrow{background-position:12px -55px; width:30px; height:60px; position:absolute; right:0; cursor:pointer; z-index:0; top:65px;}
.Pro_slide_bx .Rgt_arrow{left:0; background-position:9px 10px;}
.Pro_slide_bx .disabled{display:none;}
.Pro_info_bx{width:215px; background:#f4f4f4; border:1px solid #d8d8d8; padding:18px 20px; border-radius:5px;}
.Pro_info_bx .prced_mdcl_que_btn{font-size:18px; font-weight:normal; width:91%;}
.Pro_info_bx .prced_mdcl_que_btn span{line-height:30px;}
.Pro_info_bx select{width:100%; padding:3%; margin:0 0 10px; border:1px solid #d4d4d4; border-radius:5px; font-size:14px; color:#525252;}
.Pro_info_bx .Small_link{font-size:11px; color:#888;float:left; margin:10px 0 15px;}
.Deliver_time, .Odr_time{background-position:left -146px; padding:0 0 0 50px; display:inline-block; font-size:14px; font-weight:bold; color:#444444; line-height:1.5em; margin:0 0 17px;}
.Deliver_time span, .Odr_time span{display:block; color:#438cc7; font-size:16px;}
.Odr_time{background-position:8px -253px; margin:0;}
.Pdf{background-position:left -338px; font-size:13px; text-decoration:underline; color:#444; padding:8px 0 8px 31px; margin:21px 0 0; display:block;}
.Lft_nav .tp-sling{width:660px;}
.Lft_nav .tp-sling-prdts{position:relative; z-index:2; left:2px; overflow:hidden; margin-left:0; padding-bottom:0;}
.Lft_nav .tp-sling-prdts ul{width:1000px; float:left; padding:0; margin:0;}
.Lft_nav .tp-sling-prdts ul li{height:225px; display:inline;}
.Lft_nav .tp-sling-prdct a{height:105px; display:inline-block;}
.Lft_nav .tp-sling-prdct a + a{height:auto; display:inline;}
.Lft_nav .tp-sling-prdts ul li dl.conbx-wh dt{min-height:50px;}
.left-payment{font-size:13px; text-decoration:underline; color:#444; padding:5px 0 8px 50px; margin:0; display:block; background-position:6px -265px;}
.OutofStock{float:left; width:100%; text-align:center;}
.prduct_slider .jcarousel-control-prev, .prduct_slider .jcarousel-control-next{background-image: url(../images/prod-slider-arrow.png);}
.prduct_slider .jcarousel-control-prev{left:-18px; background-position:0 -10px;}
.prduct_slider .jcarousel-control-prev:hover{background-position:right -10px; left:-28px;}
.prduct_slider .jcarousel-control-next{right:-26px; background-position:0 -122px;}
.prduct_slider .jcarousel-control-next:hover{background-position:right -120px; right:-16px;}
.prduct_slider .jcarousel li{width:145px !important; margin:0 9px 0 7px;}
.prduct_slider .jcarousel img{padding:15px 20px;}
.Lft_nav .CarslidWrp{width:620px;}
.Lft_nav .dobal-prdts li .prod_list_txt{width:160px;}
.prodfaq li{background:url(../images/green-rarow.png) 0 9px no-repeat; padding:6px 25px 5px 25px; margin:0 15px; font-size:14px; line-height:21px;}
/* end */

/*New PDF section*/
.pdf-content {float:left; background:#f4f4f4; border:1px solid #dbdbdb; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin:40px 0 0 0; width:705px;}
.mid-pdf {float:left; background:url(../images/pdf-icon.png) left center no-repeat; padding:25px 20px 25px 40px; text-decoration:none; margin:0 0 0 15px; position:relative; cursor:pointer;}
.pdf-section{background:url(../images/pdf-dwnld-icn.png) right center no-repeat; padding:0 25px 0 0; font-size:14px;}
.adb-dwnld {float:right; margin:22px 15px 0px 55px;}
/*end*/

/*subheading*/
.bann-text h2{color: #999999;font-size: 16px;padding:0;font-weight:normal}.Top_prim_bx h2 {color: #999999;display: inline-block;font-size: 16px;padding:10px 0 0;width: 60%}
/*end*/

/* Internal- Link Box */
.Rea_link_bx{width:100%; padding:23px 20px; box-sizing:border-box; background:#f8f8f8; border:1px solid #e3e3e3; border-radius:5px; margin:10px 0 30px; clear:both; display:inline-block;}
.Rea_link_bx dl{width:30.8%; display:inline-block; margin:0 0 0 3%; vertical-align:top;}
.Rea_link_bx dl:first-child{margin:0;}
.Rea_link_bx dt{border-bottom:1px solid #e3e3e3; margin:0 0 30px; padding:0 0 10px; font-size:18px; font-weight:normal;}
.Rea_link_bx dd{width:100%;}
.Rea_link_bx dd a{color:#3a3a3a; text-decoration:none; font-size:14px; color:#3a3a3a; margin:0 0 11px; background-position:left 6px; padding:0 0 0 15px; display:table;}

.Rea_nopage dl{width:48%;}
.Rea_link_bx p{background:#f8f8f8; border:1px solid #ccc; font-size:1.1em; text-align:center; padding:2px 0; display:inline-block; width:100%;}
.Rea_link_bx p:hover{cursor:pointer;}
.Rea_multi_link dl:first-child a{width:44%; float:left;}
/* END */

/* NEW FOOTER */
.ftr_lnk_cnt {float: left; margin-bottom: 1px; width: 100%;}
.ftr_lnk_cnt dl + dl {padding: 0 25px 0 15px;}
.ftr_lnk_cnt dl + dl + dl + dl {margin-right: 0; padding-right: 0; width: 130px;}
dl.cstsrvc {float: left; padding: 0 24px 0 15px; margin:0 0 0 3px;}
dl.cstsrvc dt{color: #555555; font-size: 18px;}
dl.cstsrvc dd {border-right: 1px solid #ededed; float: left; margin-top: 27px; padding-bottom: 9px; width: 216px;}
.ftr_lnk_cnt dl + dl + dl + dl dd {border-right: 0 none;}
dl.cstsrvc a, .Rea_link_bx dd a{display:block; background:url(../images/arwbull.png) no-repeat 0 8px; padding-left:10px; margin:2px 0; color: #787575;}
.pymnt-icn {float: left; padding-top: 12px; width: 48%;}
.pymnt-icn img{margin:0 0 0 10px;}
.mcafee-geotrust {float: right; text-align: right; width: 40%;}
.mcafee-geotrust a{background:none; width:auto; padding:0; margin:0 15px 0 0;}
.gnun-mdctn-brnds{float:left; width:100%; padding:10px 0; margin:15px 0 0 0; border-top:1px solid #ededed; border-bottom:1px solid #ededed;}
.gnun-mdctn-brnds span.mfg-img{float:right;}
.gnun-mdctn-brnds span.mfg-img img{margin:0 5px;}
.gnun-mdctn-brnds + .gnun-mdctn-brnds{border-top: medium none; margin-top: 0;}
/* END */
