@font-face {
	font-family: 'flexoblack_italic';
	src: url('../fonts/flexo-blackit-webfont.eot');
	src: url('../fonts/flexo-blackit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-blackit-webfont.woff') format('woff'), url('../fonts/flexo-blackit-webfont.ttf') format('truetype'), url('../fonts/flexo-blackit-webfont.svg#flexoblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexoitalic';
	src: url('../fonts/flexo-it-webfont.eot');
	src: url('../fonts/flexo-it-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-it-webfont.woff') format('woff'), url('../fonts/flexo-it-webfont.ttf') format('truetype'), url('../fonts/flexo-it-webfont.svg#flexoitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexobold';
	src: url('../fonts/flexo-bold-webfont.eot');
	src: url('../fonts/flexo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-bold-webfont.woff') format('woff'), url('../fonts/flexo-bold-webfont.ttf') format('truetype'), url('../fonts/flexo-bold-webfont.svg#flexobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexomedium';
	src: url('../fonts/flexo-medium-webfont.eot');
	src: url('../fonts/flexo-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-medium-webfont.woff') format('woff'), url('../fonts/flexo-medium-webfont.ttf') format('truetype'), url('../fonts/flexo-medium-webfont.svg#flexomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexoregular';
	src: url('../fonts/flexo-regular-webfont.eot');
	src: url('../fonts/flexo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-regular-webfont.woff') format('woff'), url('../fonts/flexo-regular-webfont.ttf') format('truetype'), url('../fonts/flexo-regular-webfont.svg#flexoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexolight';
	src: url('../fonts/flexo-light-webfont.eot');
	src: url('../fonts/flexo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-light-webfont.woff') format('woff'), url('../fonts/flexo-light-webfont.ttf') format('truetype'), url('../fonts/flexo-light-webfont.svg#flexolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	max-height: 100000px;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset { margin: 0 0 14px; }
html, body, div, span, applet, embed, object, iframe, frameset, p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center, h1, h2, h3, h4, h5, h6, b, strong, big, u, ins, i, cite, em, var, dfn, address, s, strike, del, dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt, fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	background: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { background: #26373d; }
body {
	margin: 0;
	background: #ebebeb;
	color: #666;
	font: 16px/26px Arial, Helvetica, sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}
.logo, #wrapper, .container, .container .holder, #header, .caption, .caption .btn-holder, #main, #main .main-block, #main .main-block .steps-holder, .steps-holder .steps, .steps-holder .steps li, .logo-area, .logo-area .logo-holder, .logo-area .logo-holder ul, .logo-area .logo-holder ul li, .comments-area, .comments-area ul, .comments-area ul li, #footer, #footer .footer-t, #footer .holder, #footer .accordion, #footer .accordion li, .footer-b, .footer-b .col-holder, .footer-b .col, #footer .footer-b .footer-info, .twocolumns, #content, #content .content-holder, #content .intro-content, .subjects, .subjects > li, .subjects > li .header, .subjects > li .header .heading-box, .subject-links, .subject-links li, #sidebar, #sidebar .widget, #sidebar .widget .sidebox, #sidebar .sidebox .text, #sidebar .comments, #sidebar .comments li, #sidebar .comments .heading, #sidebar .comments .text-area, .main-box, .text-container, .team-info, .main-area, .main-area .header-box, .main-area ul, .main-area ul li, .main-container, .main-container h2, .main-container form .row, .main-container form .row .input-holder, .main-holder, .main-holder .main-heading, .main-holder .main-heading .text, .content-box, .entry-content, .entry-content .holder, .box-holder, .box-holder .box, .outer-holder, .outer-holder .heading, .form {
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
a {
	text-decoration: none;
	color: #20687d;
}
a:hover { text-decoration: underline; }
input, textarea, select {
	font: 14px Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #979797;
	overflow: auto;
}
label { vertical-align: middle; }
button, input {
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th { font-weight: bold; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }
i, cite, em, var, dfn, address { font-style: italic; }
u, ins { text-decoration: underline; }
s, strike, del { text-decoration: line-through; }
blockquote, blockquote:before, blockquote:after, q, q:before, q:after { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
table, caption, tbody, tfoot, thead, tr, th, td {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol {
	padding: 0;
	margin: 0 15px 0 0;
}
th, td {
	border: 1px solid #ccc;
	padding: 3px 7px;
	text-align: left;
	vertical-align: top;
}
th {
	border-color: #999;
	text-align: center;
	vertical-align: middle;
}
.aligncenter { text-align: center; }
img.aligncenter {
	display: block;
	margin: 0 auto;
}
.alignleft { float: left !important; }
.alignright { float: right !important; }
img { border-style: none; }
input[type="image"] {
	padding: 0;
	border: none;
}
input[type=password], input[type=file] {
	-webkit-appearance: none;
	-webkit-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	border-radius: 0 !important;
}
 input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
 -webkit-appearance:none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}
 *::-webkit-input-placeholder {
 color:#666;
}
 *::-moz-placeholder {
 opacity: 1;
 color:#666;
}
 *:-moz-placeholder {
 color:#666;
}
#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.container {
	width: 100%;
	position: relative;
}
.container img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.container.home .holder {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.container .holder { width: 100%; }
.container .holder:after {
	display: block;
	content: "";
	clear: both;
}
#header {
	position: relative;
	background: #fff;
	max-width: 1000px;
	margin: 46px auto 40px;
}
.container.home #header { margin: 46px auto 81px; }
.container.pivat #header { margin: 0 auto 40px; }
#header:after {
	display: block;
	content: "";
	clear: both;
}
#header .logo {
	float: left;
	background: url(../images/logo.png) no-repeat;
	width: 170px;
	height: 80px;
	overflow: hidden;
	text-indent: -9999px;
}
#header .logo a {
	display: block;
	height: 100%;
}
#header #nav { overflow: hidden; }
#header #nav .opener { display: none; }
#header #nav .slide {
	text-align: center;
	padding: 0;/* 28px 0 10px; */
	margin: 0;
	text-transform: uppercase;
	font: 18px/24px 'flexoregular', Arial, Helvetica, sans-serif;
}
#header #nav .slide:after {
	display: block;
	content: "";
	clear: both;
}
#header.head #nav .slide { font-size: 16px; }
#header #nav .slide.js-slide-hidden {
	display: block !important;
	left: 0 !important;
	position: static !important;
	top: 0 !important;
}
#header #nav .slide.js-slide-hidden  > a{
position:relative;
top:28px;
}
#nav .slide li {
	display: inline-block;
	vertical-align: top;
	padding: 28px 3.2%; /* 0 3.2%; */
	list-style: none;
	position: relative;
}
#menu-item-5758{
background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(55%, #f2a724), color-stop(100%, #ef9d1e));
background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: -o-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: linear-gradient(to bottom, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
}
#menu-item-5758 a{
color: #FFFFFF !important;
}

.menu-item-5758{
background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(55%, #f2a724), color-stop(100%, #ef9d1e));
background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: -o-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
background: linear-gradient(to bottom, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
}
.menu-item-5758 a{
color: #FFFFFF !important;
}

#header.head #nav .slide li { padding: 0 6.7% 0 6.6%; }
#header.head.offer #nav .slide li { padding: 28px 1%; /*0 1%;*/ }
#header.head #nav .slide li:after {
	background: url(../images/nav-sep.png) no-repeat;
	position: absolute;
	right: -9px;
	top: -26px;
	width: 1px;
	height: 75px;
	content: "";
}
#header.head.offer #nav .slide li:after {
	background: #bfbfbf;
	width: 1px;
	height: 26px;
	top: 28px;
	left: 0;
}
#header.head.offer #nav .slide li:first-child:after { background: none; }
#header.head.offer #nav .slide li .count, #header.head.offer #nav .slide li .tel {
	display:inline-block;
	color: #000;
	text-decoration: none;
	cursor: text;
	font-weight: normal;
	font-family: 'flexobold', Arial, Helvetica, sans-serif;
}
#header.head.offer #nav .slide li .tel:hover { text-decoration: none; }
#nav .slide li a {
 color: #333; 
 display:block;
}
#nav .slide li a:hover, #nav .slide li.active a {
	text-decoration: none;
	color: #20687d;
}
#nav .slide li .placeholder {
	display: inline-block;
	vertical-align: middle;
}
#nav .slide li .placeholder img { display: block; }
#header .search-box {
	float: right;
	width: 21.4%;
	padding: 28px 24px 30px 23px;
	border-left: 1px solid #cfcfd3;
}
#header.head .search-box {
	border: 0;
	width: 28.4%;
	padding: 28px 24px 30px 16px;
}
#header .search-box .opener { display: none; }
#header .search-box .form-holder { overflow: hidden; }
#header .search-box .form-holder.js-slide-hidden {
	display: block !important;
	left: 0 !important;
	position: static !important;
	top: 0 !important;
}
#header .search-form {
	padding: 0;
	margin: 0;
}
#header .search-form input[type="search"] {
	float: left;
	border: 0;
	outline: none;
	height: 22px;
	font: 18px/22px 'flexoregular', Arial, Helvetica, sans-serif;
	color: #999;
	text-transform: uppercase;
	width: 85%;
}
#header.head .search-form input[type="search"] {
	text-transform: none;
	color: #666;
	font-size: 16px;
}
 #header .search-form input[type="search"]::-webkit-input-placeholder {
 color:#999;
}
 #header .search-form input[type="search"]::-moz-placeholder {
 opacity: 1;
 color:#999;
}
 #header .search-form input[type="search"]:-moz-placeholder {
 color:#999;
}
 #header.head .search-form input[type="search"]::-webkit-input-placeholder {
 color:#666;
}
 #header.head .search-form input[type="search"]::-moz-placeholder {
 opacity: 1;
 color:#666;
}
 #header.head .search-form input[type="search"]:-moz-placeholder {
 color:#666;
}
#header .search-form input[type="submit"] {
	float: right;
	background: url(../images/sprite.png) no-repeat -84px 0;
	width: 20px;
	height: 21px;
	cursor: pointer;
	padding: 0;
	border: 0;
	overflow: hidden;

	text-indent: -9999px;
}
#header.head .search-form input[type="submit"] {
	float: left;
	margin: 4px 14px 0 3px;
	background: url(../images/sprite.png) no-repeat -271px -80px;
	width: 17px;
	height: 16px;
}
.caption {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
	text-align: center;
	color: #fff;
}
.caption h1 {
	margin: 0 0 49px;
	font: 44px/60px 'flexolight', Arial, Helvetica, sans-serif;
}
.caption .btn-holder {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 30px;
	position: relative;
}
.caption .btn-holder .link {
	background: url(../images/bg-btn.png);
	border: 3px solid #fff;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	padding: 0 5px;
	width: 160px;
	text-align: center;
	text-transform: uppercase;
	font: 16px/50px 'flexomedium', Arial, Helvetica, sans-serif;
}
.caption .btn-holder .link.link-offer {
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(55%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 55%, #ef9d1e 100%);
}
.caption .btn-holder .link:hover {
	text-decoration: none;
	color: #20687d;
}
.caption .btn-holder .txt-gratis {
	position: absolute;
	right: -63px;
	bottom: 0;
	background: url(../images/sprite.png) no-repeat -107px 0;
	width: 57px;
	height: 54px;
	overflow: hidden;
	text-indent: -9999px;
}
#main { width: 100%; }
#main .main-block {
	background: #fff;
	margin: 0 0 35px;
	padding: 54px 0 0;
	-webkit-box-shadow: 0 1px 3px 1px #cfcfcf;
	box-shadow: 0 1px 3px 1px #cfcfcf;
}
#main .main-block .steps-holder {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.steps-holder .steps {
	overflow: hidden;
	padding: 0;
	margin: 0 0 16px;
	position: relative;
}
.outer-holder .steps-holder .steps { margin: 0; }
.steps-holder .steps li {
	display: inline-block;
	vertical-align: top;
	padding: 0 1% 20px;
	width: 31%;
	position: relative;
}
.steps-holder .steps li:after {
	background: url(../images/bg-t.png) repeat-x;
	width: 71.1%;
	height: 4px;
	right: 64.7%;
	top: 44px;
	position: absolute;
	content: "";
}
.outer-holder .steps-holder .steps li:after { background: none; }
.steps-holder .steps li:first-child:after { background: none; }
.steps-holder .steps li .img-holder {
	width: 62px;
	height: 50px;
	margin: 0 auto 27px;
	background: #fff;
	padding: 16px 10px;
	border-radius: 100%;
	border: 5px solid #20687d;
	position: relative;
	z-index: 10;
}
.steps-holder .steps li .img-holder img {
	display: block;
	margin: 0 auto;
}
.steps-holder .steps li .text {
	overflow: hidden;
	text-align: center;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	padding: 0 19px;
}
.outer-holder .steps li .text {
	color: #666;
	padding: 0 9px;
}
.steps-holder .steps li h2 {
	margin: 0 0 18px;
	color: #333;
	font: 20px/26px 'flexoregular', Arial, Helvetica, sans-serif;
}
.outer-holder .steps-holder .steps li h2 { color: #666; }
.logo-area {
	border-top: 1px solid #cfcfcf;
	-webkit-box-shadow: inset 0 1px 2px 0 #cfcfcf;
	box-shadow: inset 0 1px 2px 0 #cfcfcf;
}
.logo-area .logo-holder {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	padding: 42px 0 53px;
}
.logo-area .logo-holder h2, .steps-holder h2 {
	color: #333333;
	font: 24px/30px 'flexoregular', Arial, Helvetica, sans-serif;
	margin: 0 0 42px;
	text-align: center;
}
.logo-area .logo-holder ul {
	overflow: hidden;
	padding: 0;
	margin: 0 -1% 0 0;
}
.logo-area .logo-holder ul li {
	list-style: none;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 31.4%;
	margin: 0 0.8% 10px;
	border: 1px solid #e6e6e6;
}
.logo-area .logo-holder ul li:first-child { margin: 0 0.8% 0 0; }
.logo-area .logo-holder ul li .date {
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/txt-time.png) no-repeat;
	width: 64px;
	height: 64px;
	overflow: hidden;
	text-indent: -9999px;
}
.logo-area ul .img-holder {
	display: table;
	width: 100%;
	height: 147px;
	text-align: center;
}
.logo-area ul .img-frame {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.logo-area ul .img-frame img {
	display: inline-block;
	vertical-align: top;
}
.comments-area {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 0 37px;
	text-align: center;
}
.comments-area h2 {
	margin: 0 0 35px;
	color: #333;
	font: 24px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
.comments-area ul {
	padding: 0;
	margin: 0 -4% -6px 0;
	text-align: left;
}
.comments-area ul li {
	display: inline-block;
	vertical-align: top;
	width: 44.2%;
	margin: 0 3.5% 39px -1px;
	padding: 19px 0 0 2%;
	background: #fff;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #d1d1d1;
	-webkit-box-shadow: 1px 1px 1px 0 #d1d1d1;
	box-shadow: 1px 1px 1px 0 #d1d1d1;
}
.comments-area ul li .alignleft {
	float: left;
	margin: 0 21px 0 0;
	border-radius: 100%;
}
.comments-area ul li .commet-text {
	overflow: hidden;
	color: #666;
	padding: 0 8px 9px 0;
	font-size: 14px;
	line-height: 20px;
}
.comments-area ul li .header {
	overflow: hidden;
	margin: 0 0 12px;
}
.comments-area ul li .header h3 {
	margin: 0 0 10px;
	color: #333;
	font: 18px/24px 'flexoregular', Arial, Helvetica, sans-serif;
}
.comments-area ul li .header .placeholder { overflow: hidden; }
.comments-area ul li .header .placeholder img { display: block; }
.comments-area ul li .commet-text p { margin: 0 0 14px; }
.comments-area .commet-text p a:hover {
	text-decoration: none;
	color: #333;
}
.comments-area .more {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 5px;
	font-size: 14px;
	line-height: 18px;
}
.comments-area .more:hover {
	text-decoration: none;
	color: #333;
}
.comments-area:after, .comments-area ul:after {
	display: block;
	content: "";
	clear: both;
}
.twocolumns {
	max-width: 1000px;
	margin: 0 auto 80px;
	overflow: hidden;
	background: #fff;
	position: relative;
}
.twocolumns:before {
	position: absolute;
	content: "";
	background: url(../images/bg-twocolumns.png) repeat-y;
	width: 3px;
	right: 27.7%;
	top: 0;
	height: 100%;
}
#content {
	float: left;
	width: 71%;
	background: #fff;
}
#content .content-holder {
	padding: 33px 30px 47px 39px;
	overflow: hidden;
}
#content h1 {
	color: #000;
	margin: 0 0 24px;
	font: 36px/42px 'flexoregular', Arial, Helvetica, sans-serif;
}
#content .intro-content {
	overflow: hidden;
	padding: 0 10px 21px 0;
}
#content .intro-content.inner-content { padding: 0 10px 10px 0; }
#content .intro-content p {
	margin: 0 0 10px;
	word-spacing: 1px;
}
#content .intro-content.inner-content p {
	word-spacing: 0;
	margin: 0 0 25px;
}
.subjects {
	padding: 0;
	margin: 0 -2.2% 0 0;
	overflow: hidden;
}
.subjects > li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	width: 47.3%;
	border: 1px solid #dbdbdb;
	margin: 0 1.9% 20px 0;
}
.subjects > li .header {
	overflow: hidden;
	padding: 22px 23px 18px 29px;
}
.subjects > li .header .heading-box {
	overflow: hidden;
	margin: 0 -4px 10px 0;
}
.subjects > li .heading-box .alignright { float: right; }
.subjects > li .heading-box h2 {
	overflow: hidden;
	margin: 0 5px 0 0;
	color: #000;
	font: 24px/34px 'flexoregular', Arial, Helvetica, sans-serif;
}
.subjects > li .header p {
	word-spacing: 3px;
	margin: 0 0 10px;
}
.subject-links {
	padding: 20px 10px 17px 30px;
	margin: 0;
	background: #f1f1f1;
	border-top: 1px solid #cfcfcf;
	-webkit-box-shadow: inset 0 1px 1px 0 #cfcfcf;
	box-shadow: inset 0 1px 1px 0 #cfcfcf;
}
.subject-links li {
	list-style: none;
	overflow: hidden;
	margin: 0 0 6px;
}
#sidebar {
	float: right;
	width: 27.7%;
	position:inherit !important;
	top:0 !important;
	background: #fff;
}
#sidebar .widget {
	padding: 31px 40px 10px 37px;
	border-top: 1px solid #cfcfcf;
	height: 1%;
}
#sidebar .widget.sideinfo {
	padding: 31px 40px 18px 36px;
	font-size: 14px;
	line-height: 20px;
}
#sidebar .widget:after {
	display: block;
	content: "";
	clear: both;
}
#sidebar .widget.links { padding: 25px 40px 21px 37px; }
#sidebar .widget:first-child {
	border: 0;
	padding: 30px 40px 40px 37px;
}
#sidebar .widget.video { padding: 34px 40px 38px 37px; }
#sidebar .widget.sideholder { padding: 0 0 35px; }
#sidebar .widget.sideholder .title {
	display: block;
	margin: 0 0 82px -3px;
	position: relative;
	background: #267b90;
	color: #fff;
	text-align: center;
	padding: 26px 20px 15px;
	font: 30px/36px 'flexoregular', Arial, Helvetica, sans-serif;
}
#sidebar .widget.sideholder .title span {
	display: block;
	width: 100%;
	left: 0;
	bottom: -15px;
	position: absolute;
	text-align: center;
	z-index: 999;
	font-size: 20px;
	line-height: 30px;
}
#sidebar .widget.sideholder .title:after {
	background: url(../images/title-bottom.png) no-repeat 50% 0;
	width: 280px;
	height: 47px;
	bottom: -46px;
	position: absolute;
	left: 0;
	content: "";
	background-size: 100% auto;
}
#sidebar .widget.sideholder .inner-holder {
	overflow: hidden;
	padding: 0 20px 0 39px;
}
#sidebar .widget h2 {
	margin: 0 0 21px;
	color: #000;
	font: 24px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
#sidebar .widget.sideinfo h3 {
	margin: 0 0 16px;
	color: #000;
	font: 24px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
#sidebar .widget.video h2 { margin: 0 0 18px; }
#sidebar .widget .sidebox {
	overflow: hidden;
	background: #20687d;
	color: #fff;
}
#sidebar .sidebox img {
	display: block;
	max-width: 100%;
	height: auto;
}
#sidebar .sidebox .text {
	color: #fff;
	padding: 20px 30px 15px 20px;
	font-family: 'flexoregular', Arial, Helvetica, sans-serif;
	line-height: 22px;
}
#sidebar .sidebox .text p { margin: 0 0 10px; }
#sidebar .sidebox .text p a { color: #fff; }
#sidebar .comments {
	overflow: hidden;
	padding: 0;
	margin: 0 -7px 0 0;
}
#sidebar .comments li {
	list-style: none;
	overflow: hidden;
	margin: 0 0 16px;
}
#sidebar .comments .heading {
	overflow: hidden;
	margin: 0 0 14px;
}
#sidebar .comments .heading .alignleft {
	float: left;
	margin: 0 11px 0 0;
}
#sidebar .comments .heading-text { overflow: hidden; }
#sidebar .comments .heading-text h3 {
	margin: 0 0 4px;
	color: #000;
	font: bold 14px/22px Arial, Helvetica, sans-serif;
}
#sidebar .comments .heading-text .placeholder { overflow: hidden; }
#sidebar .comments .heading-text .placeholder img { display: block; }
#sidebar .comments .text-area {
	overflow: hidden;
	font-size: 14px;
	line-height: 20px;
}
#sidebar .comments .text-area p a.site { color: #666; }
#sidebar .comments .text-area p a.site:hover {
	color: #20687d;
	text-decoration: none;
}
.side-list {
	overflow: hidden;
	padding: 0;
	margin: 0 0 13px;
	font-size: 14px;
	line-height: 18px;
}
.side-list li {
	list-style: none;
	position: relative;
	padding: 0 0 18px 32px;
}
.side-list li:after {
	position: absolute;
	content: "";
	left: 0;
	top: 4px;
	background: url(../images/sprite.png) no-repeat -186px -126px;
	width: 18px;
	height: 15px;
}
.widget.sideholder .inner-holder .link {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	color: #fff;
	border: 0;
	border-radius: 3px;
	width: 91.5%;
	margin: 0 0 0 -2px;
	text-align: center;
	font: 16px/46px 'flexomedium', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
}
.widget.sideholder .inner-holder .link:hover {
	text-decoration: none;
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
}
.main-box {
	background: #e6e6e6;
	overflow: hidden;
	margin: 0 0 27px;
}
.main-box img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.text-container {
	overflow: hidden;
	padding: 0 17px 7px 0;
	margin: 0 0 31px;
	border-bottom: 1px solid #cfcfcf;
}
#content h2 {
	color: #000;
	margin: 0 0 6px;
	font: 24px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
#content .text-container p { margin: 0 0 24px; }
.team-info { overflow: hidden; }
#content .team-info h2 { margin: 0 0 26px; }
.team-info ul {
	padding: 0;
	margin: 0 -6.2% 0 0;
	overflow: hidden;
}
.team-info ul li {
	float: left;
	margin: 0 5.5% 37px 0;
	width: 44.5%;
	text-align: left;
	background: #eee;
}
.team-info ul li img {
	display: block;
	max-width: 100%;
	height: auto;
}
.team-info ul li .heading {
	overflow: hidden;
	background: #20687d;
	padding: 25px 29px 16px;
}
.team-info ul li .heading h3 {
	font: 20px/24px 'flexoregular', Arial, Helvetica, sans-serif;
	color: #fff;
	text-transform: capitalize;
	margin: 0 0 1px;
}
.team-info ul li .heading .designation {
	display: block;
	font: 16px/24px 'flexoregular', Arial, Helvetica, sans-serif;
	color: #7ca3ae;
	margin: 0 0 5px;
}
.team-info ul li .text {
	overflow: hidden;
	padding: 20px 31px 7px 29px;
}
.video-placeholder {
	overflow: hidden;
	position: relative;
}
.video-placeholder img {
	display: block;
	max-width: 100%;
	height: auto;
}
.video-placeholder .ico-play {
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(../images/sprite.png) no-repeat 0 -126px;
	width: 62px;
	height: 62px;
	margin: -31px 0 0 -31px;
	overflow: hidden;
	text-indent: -9999px;
}
.links-list {
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 42px;
}
.links-list li {
	list-style: none;
	padding: 0 0 8px 50px;
	position: relative;
}
.links-list li:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
}
.links-list li.item1:after {
	background: url(../images/sprite.png) no-repeat -64px -126px;
	width: 28px;
	height: 28px;
	top: 7px;
	left: 2px;
}
.links-list li.item2:after {
	background: url(../images/sprite.png) no-repeat -96px -126px;
	width: 30px;
	height: 30px;
	top: 5px;
}
.links-list li.item3:after {
	left: 3px;
	top: 2px;
	background: url(../images/sprite.png) no-repeat -131px -126px;
	width: 27px;
	height: 37px;
}
.links-list li a { color: #666; }
.links-list li a:hover {
	text-decoration: none;
	color: #20687d;
}
.contact-list {
	overflow: hidden;
	padding: 5px 0 0;
	margin: 0;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}
.contact-list li {
	list-style: none;
	margin: 0 0 20px;
	padding: 0 30px 0 0;
	color: #666;
}
.contact-list li a { color: #666; }
.contact-list li a:hover {
	text-decoration: none;
	color: #20687d;
}
.contact-list li span { display: block; }
.block-holder {
	overflow: hidden;
	margin: -2px 0 5px;
}
#content .block-holder h2 { margin: 0 0 11px; }
#content .block-holder p { margin: 0 0 25px; }
#content .info-box {
	overflow: hidden;
	background: #f1f1f1;
	border: 1px solid #dbdbdb;
	padding: 29px 10px 28px 37px;
	margin: 0 0 25px;
}
#content .info-box h2 { margin: 0 0 20px; }
#content .info-box ul {
	padding: 0 0 0 3px;
	margin: 0;
	list-style: none;
}
.info-box ul li {
	list-style: none;
	padding: 0 0 4px 21px;
	position: relative;
}
.info-box ul li:after {
	position: absolute;
	content: "";
	background: url(../images/sprite.png) no-repeat -185px 0;
	width: 5px;
	height: 5px;
	left: 0;
	top: 10px;
}
.content-text {
	overflow: hidden;
	margin: 0 0 9px;
}
.content-text p { margin: 0 0 26px; }
.info-form {
	background: #f1f1f1;
	overflow: hidden;
	margin: 0 0 37px;
}
.info-form label {
	float: left;
	background: #267b90;
	padding: 25px 4.9% 25px 4.3%;
	margin: 0 2.6% 0 0;
	color: #fff;
	position: relative;
	font: 21px/26px 'flexoregular', Arial, Helvetica, sans-serif;
}
.info-form label:after {
	position: absolute;
	content: "";
	background: url(../images/sprite.png) no-repeat -165px -126px;
	width: 17px;
	height: 76px;
	right: 0;
	top: 0;
}
.info-form .form-inner {
	overflow: hidden;
	padding: 15px 15px 15px 0;
}
.info-form input[type="text"] {
	float: left;
	width: 63.5%;
	background: #fff;
	border-radius: 3px;
	border: 0;
	padding: 12px 14px;
	height: 22px;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #dedede;
	font: 16px/22px Arial, Helvetica, sans-serif;
	color: #666;
}
.info-form input[type="submit"] {
	float: right;
	padding: 0 2px;
	color: #fff;
	border: 0;
	height: 46px;
	cursor: pointer;
	border-radius: 3px;
	width: 26.8%;
	text-align: center;
	font: 16px/46px 'flexomedium', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
}
.info-form input[type="submit"]:hover {
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
}
.vidro-holder {
	padding: 0 0 32px 2px;
	overflow: hidden;
}
#content .vidro-holder h2 { margin: 0 0 15px; }
.vidro-holder .video { overflow: hidden; }
.vidro-holder .video img {
	display: block;
	width: 100%;
	height: auto;
}
#content .info {
	overflow: hidden;
	margin: 0 0 15px;
}
#content .info h2 { margin: 0 0 10px; }
#content .info p { margin: 0 0 26px; }
#content .article {
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin: 0 -30px 30px -39px;
	padding: 26px 30px 22px 39px;
	overflow: hidden;
}
#content .article h3 {
	margin: 0 0 16px;
	color: #000;
	font: 24px/26px 'flexomedium', Arial, Helvetica, sans-serif;
}
#content .article .holder {
	overflow: hidden;
	padding: 0 0 0 2px;
	line-height: 24px;
}
#content .article .alignleft {
	float: left;
	margin: 4px 23px 0 0;
}
#content .article .text { overflow: hidden; }
.comments-box { overflow: hidden; }
.comments-box h3 {
	margin: 0 0 27px;
	color: #000;
	font: 24px/26px 'flexomedium', Arial, Helvetica, sans-serif;
}
.comments-box .comment-form { overflow: hidden; }
.comment-form .row {
	float: left;
	width: 100%;
	margin: 0 0 22px;
}
.comment-form .row .col {
	float: right;
	width: 48.5%;
}
.comment-form .row .col:first-child { float: left; }
.comment-form .row label {
	display: inline-block;
	vertical-align: top;
	color: #000;
	font: bold 16px/20px Arial, Helvetica, sans-serif;
	margin: 0 0 13px;
}
.comment-form .row input[type="text"], .comment-form .row .email {
	float: left;
	width: 100%;
	background: #f0f0f0;
	border: 0;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #d1d1d1;
	height: 45px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 21px;
	padding: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comment-form .row textarea {
	float: left;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	background: #f0f0f0;
	border: 0;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #d1d1d1;
	height: 130px;
	min-height: 130px;
	max-height: 130px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 21px;
	padding: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}
.comment-form input[type="submit"] {
	display: block;
	width: 100%;
	padding: 0;
	color: #fff;
	border: 0;
	height: 46px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	font: 20px/46px 'flexobold', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
}
.comment-form input[type="submit"]:hover {
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
}
.comments-holder { overflow: hidden; }
.comments-holder .count {
	margin: 0 0 27px;
	color: #000;
	font: 24px/26px 'flexomedium', Arial, Helvetica, sans-serif;
	display: block;
}
.comments-holder ol, .comments-holder ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.comments-holder ol li, .comments-holder ul li {
	list-style: none;
	overflow: hidden;
}
.comments-holder ol > li {
	padding: 25px 0 11px;
	border-top: 1px solid #cfcfcf;
}
.comments-holder ol > li:first-child {
	border: 0;
	padding: 0 0 11px;
}
.comment {
	overflow: hidden;
	margin: 0 0 7px;
}
.comments-holder ul li .comment .text .header { margin: 0 0 5px; }
.comment .alignleft {
	float: left;
	margin: 6px 20px 0 0;
}
.comment .text { overflow: hidden; }
.comment .text .header {
	overflow: hidden;
	margin: 0 0 7px;
}
.comment .text .header .name {
	float: left;
	color: #000;
	margin: 0 5px 0 0;
	font: bold 16px/26px Arial, Helvetica, sans-serif;
}
.comment .text .header time {
	float: left;
	font-style: italic;
	color: #999;
}
.main-area {
	max-width: 1000px;
	margin: 0 auto 30px;
	position: relative;
	background: #fff;
	z-index: 10;
	text-align: center;
}
.main-area:after {
	display: block;
	content: "";
	clear: both;
}
.main-area:before {
	position: absolute;
	content: "";
	z-index: -1;
	background: url(../images/arrow.png) no-repeat;
	width: 247px;
	height: 99px;
	left: 50%;
	margin: 0 0 0 -124px;
	bottom: -55px;
}
.main-area .header-box {
	overflow: hidden;
	text-align: center;
	padding: 49px 14% 37px;
}
.main-area h1 {
	margin: 0 0 3px;
	color: #666;
	font: 36px/48px 'flexoregular', Arial, Helvetica, sans-serif;
}
.main-area .sub-head {
	display: block;
	color: #000;
	font: 36px/40px 'flexobold', Arial, Helvetica, sans-serif;
}
.main-area ul {
	padding: 0 0 40px;
	margin: 0;
	overflow: hidden;
}
.main-area ul li {
	display: inline-block;
	vertical-align: top;
	width: 44.8%;
        min-height:226px;
	margin: 0 0.8% 20px;
	background: url(../images/bg-box.png) repeat-x 0 100% #fff;
	border: 1px solid #c3c3c3;
	text-align: left;
}
.main-area ul li .holder {
	overflow: hidden;
	padding: 35px 35px 17px 34px;
	line-height: 24px;
}
.main-area ul li .holder .alignleft {
	float: left;
	margin: 0 13px 0 0;
}
.main-area ul li .holder .text { overflow: hidden; }
.main-area ul li .holder h2 {
	font: 22px/26px 'flexoregular', Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 0 9px;
}
.main-container {
	max-width: 1000px;
	margin: 0 auto 49px;
	background: #fff;
	padding: 60px 0 47px;
	text-align: center;
}
.main-container h2 {
	color: #000;
	margin: 0 0 34px;
	font: 26px/32px 'flexoregular', Arial, Helvetica, sans-serif;
}
.main-container h2 strong {
	font-weight: normal;
	font-family: 'flexobold', Arial, Helvetica, sans-serif;
}
.main-container form {
	padding: 0;
	margin: 0;
}
.main-container form .row {
	width: 100%;
	margin: 0 0 20px;
	position: relative;
}
.main-container form a { text-decoration: underline; }
.main-container form a:hover { text-decoration: none; }
.main-container form .row .input-holder {
	width: 33.9%;
	margin: 0 auto;
	text-align: left;
}
.main-container form .row input[type="text"], .main-container form .row textarea, .sidebar input[type="text"] {
	float: left;
	width: 100%;
	background: #f0f0f0;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #d1d1d1;
	padding: 12px 14px;
	height: 46px;
	color: #666;
	font: 16px/22px Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
}
.main-container form .row textarea {
	height: 100px;
	resize:none;
}
.main-container form .row input[type="submit"], .sidebar input[type="submit"] {
	float: left;
	width: 100%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	height: 46px;
	padding: 0;
	border: 0;
	border-radius: 5px;
	margin: 0 0 8px;
	cursor: pointer;
	font: 18px/46px 'flexobold', Arial, Helvetica, sans-serif;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
}
.main-container form .row input[type="submit"]:hover, .sidebar input[type="submit"]:hover {
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
}
.main-container form .row:after {
	display: block;
	content: "";
	clear: both;
}
.main-container .txt-img {
	position: absolute;
	background: url(../images/txt-img.png) no-repeat;
	width: 210px;
	height: 65px;
	overflow: hidden;
	text-indent: -9999px;
	right: 104px;
	top: -39px;
}
.main-holder {
	max-width: 1000px;
	margin: 0 auto 50px;
	overflow: hidden;
	background: #fff;
}
.main-holder .main-heading {
	text-align: center;
	padding: 78px 5% 39px;
	font: 18px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
.main-holder .main-heading h1 {
	margin: 0 0 20px;
	color: #000;
	font: 36px/40px 'flexobold', Arial, Helvetica, sans-serif;
}
.main-holder .main-heading .text {
	overflow: hidden;
	padding: 0 16%;
}
.content-box {
	background: url(../images/bg-bottom.png) no-repeat 50% 100%;
	padding: 0 0 64px;
	margin: 0 0 48px;
}
.entry-content {
	overflow: hidden;
	margin: 0 auto;
	max-width: 800px;
	background: #fff;
}
.entry-content .holder {
	overflow: hidden;
	padding: 30px 52px 27px 32px;
	color: #fff;
	font: 18px/30px 'flexoregular', Arial, Helvetica, sans-serif;
}
.entry-content .alignleft {
	float: left;
	margin: 0 46px 0 0;
}
.entry-content .text {
	overflow: hidden;
	padding: 15px 0 0;
}
.entry-content .holder p a { color: #fff; }
.box-holder {
	overflow: hidden;
	text-align: center;
	margin: 0 0 89px;
}
.box-holder .box {
	display: inline-block;
	vertical-align: top;
	margin: 0 1.8%;
	width: 38%;
	background: #e6e6e6;
}
.box-holder .box .box-header {
	background: #000;
	color: #fff;
	padding: 19px 23px 19px 24px;
	overflow: hidden;
	margin: 0 0 10px;
	text-align: left;
}
.box-holder .box:first-child .box-header { background: #29367f; }
.box-holder .box-header .alignright {
	float: left;
	margin: 4px 0 0;
}
.box-holder .box-header h3 {
	margin: 0;
	overflow: hidden;
	font: 18px/22px 'flexoregular', Arial, Helvetica, sans-serif;
}
.box-holder .box .holder {
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: #e6e6e6;
	background: #fff;
}
.box-holder .box .fb-placeholder { overflow: hidden; }
.box-holder .box .fb-placeholder img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}
.box-holder .box .placeholder {
	overflow: hidden;
	padding: 32px 0 14px;
}
.box-holder .box .placeholder img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.box-holder .box .text {
	overflow: hidden;
	text-align: center;
	padding: 0 13%;
	color: #333;
	font: 14px/22px 'flexoregular', Arial, Helvetica, sans-serif;
}
.box-holder .box .text p { margin: 0 0 14px; }
.box-holder .box .text p a { color: #333; }
.box-holder .box .link {
	display: inline-block;
	vertical-align: top;
	width: 61%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	border: 0;
	border-radius: 5px;
	margin: 0 0 30px;
	cursor: pointer;
	font: 14px/36px 'flexobold', Arial, Helvetica, sans-serif;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
}
.box-holder .box .link:hover {
	text-decoration: none;
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
}
.main-outer {
	max-width: 1000px;
	margin: 0 auto 50px;
	background: #fff;
}
.outer-holder {
	background: url(../images/bg-bottom.png) no-repeat 50% 0;
	padding: 36px 0 16px;
}
.outer-holder:first-child {
	background: none;
	padding: 53px 0 14px;
}
.outer-holder .heading {
	overflow: hidden;
	text-align: center;
	padding: 0 5%;
}
.outer-holder .heading.txt-heading { padding: 16px 5% 20px; }
.outer-holder .heading h2 {
	color: #666;
	margin: 0 0 30px;
	font: 26px/40px 'flexoregular', Arial, Helvetica, sans-serif;
}
.outer-holder .heading h2 strong {
	display: block;
	font-weight: normal;
	color: #000;
	font-family: 'flexobold', Arial, Helvetica, sans-serif;
}
.form {
	padding: 0;
	width: 100%;
}
.form .text-holder {
	position: relative;
	width: 100%;
}
.form .area-holder {
	width: 51.9%;
	overflow: hidden;
	margin: 0 auto 24px;
}
.form textarea {
	background: #f0f0f0;
	border: 0;
	float: left;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #d1d1d1;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 230px;
	min-height: 230px;
	max-height: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	resize: none;
	border-radius: 5px;
	font-size: 16px;
	line-height: 22px;
}
.form label {
	display: inline-block;
	vertical-align: top;
	color: #999;
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 20px;
}
.form label strong { color: #000; }
.form input[type="text"] {
	background: #f0f0f0;
	border: 0;
	float: left;
	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #d1d1d1;
	width: 100%;
	border-radius: 5px;
	height: 44px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 11px;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 5px;
}
.txt-start {
	position: absolute;
	right: 13.4%;
	top: 5px;
	background: url(../images/txt-start.png) no-repeat;
	width: 76px;
	height: 46px;
	overflow: hidden;
	text-indent: -9999px;
}
.txt-vender {
	position: absolute;
	right: 5%;
	top: 20px;
	background: url(../images/txt-vender.png) no-repeat;
	width: 200px;
	height: 73px;
	overflow: hidden;
	text-indent: -9999px;
}
.form .form-holder {
	width: 52%;
	text-align: center;
	margin: 0 auto;
}
.form .text-holder .form-holder {
	width: 39%;
	padding: 7px 0 0;
	position: relative;
	left: 4px;
}
.form .form-holder .text {
	display: block;
	line-height: 24px;
	color: #999;
	margin: 0 0 25px;
}
.form input[type="submit"],  .form .submit-button {
	display: inline-block;
	vertical-align: top;
	width: 46.5%;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	border: 0;
	border-radius: 5px;
	margin: 0 0 30px;
	cursor: pointer;
	height: 50px;
	font: 16px/50px 'flexomedium', Arial, Helvetica, sans-serif;
	background: #f4b136 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YjEzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4b136), color-stop(56%, #f2a724), color-stop(100%, #ef9d1e));
	background: -webkit-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -o-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: -ms-linear-gradient(top, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
	background: linear-gradient(to bottom, #f4b136 0%, #f2a724 56%, #ef9d1e 100%);
}
.form input[type="submit"].submit {
	width: 100%;
	margin: 0 0 27px;
}
.form input[type="submit"]:hover,  .form .submit-button:hover {
	text-decoration: none;
	background: #ef9d1d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmOWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyYTcyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGIxMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef9d1d), color-stop(47%, #f2a724), color-stop(100%, #f4b136));
	background: -webkit-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -o-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: -ms-linear-gradient(top, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
	background: linear-gradient(to bottom, #ef9d1d 0%, #f2a724 47%, #f4b136 100%);
}
.check-row {
	overflow: hidden;
	padding: 0 8px;
}
.check-row a { color: #999; }
/* hide original element */

.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */

.chk-area {
	margin: 0 0 2px 5px;
	display: inline-block;
	vertical-align: text-bottom;
	background: url(../images/bg-check.png) no-repeat;
	width: 14px;
	height: 14px;
}
.chk-checked { background-position: 0 100%; }
#footer {
	overflow: hidden;
	width: 100%;
	background: #26373d;
	color: #8ca4ab;
}
#footer .footer-t {
	background: #30474e;
	overflow: hidden;
	width: 100%;
	padding: 47px 0 54px;
	font-size: 14px;
	line-height: 20px;
}
#footer .holder {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#footer .accordion {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#footer .accordion li {
	float: left;
	width: 22.2%;
	margin: 0 1.6% 0 2.2%;
}
#footer .accordion li.last {
	margin: 0;
	float: right;
}
#footer .accordion li:first-child { margin: 0 1.8% 0 0; }
#footer .accordion li h4 {
	color: #fff;
	font: 18px/24px 'flexoregular', Arial, Helvetica, sans-serif;
	margin: 0 0 19px;
}
#footer .accordion li h4 .opener { display: none; }
#footer .accordion li .slide {
	font-size: 14px;
	min-height: 174px;
	line-height: 22px;
	padding: 0 0 22px;
}
.accordion li .slide.js-slide-hidden {
	display: block !important;
	left: 0 !important;
	position: relative !important;
	top: 0 !important;
}
#footer .accordion .slide p { margin: 0 0 20px; }
#footer .accordion li .slide .link {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 0 0 15px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}
#footer .accordion li .slide .link:hover {
	text-decoration: none;
	color: #8ca4ab;
}
#footer .accordion li .slide .link:after {
	background: url(../images/sprite.png) no-repeat -168px 0;
	width: 6px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 5px;
	content: "";
}
.footer-b {
	background: #26373c;
	padding: 38px 0;
	overflow: hidden;
	width: 100%;
	color: #8ca4ab;
}
.footer-b .col-holder {
	overflow: hidden;
	margin: 0 0 9px;
}
.footer-b .col {
	float: left;
	width: 25.1%;
	margin: 0 1% 0 0;
	font-size: 14px;
	line-height: 20px;
}
.footer-b .col.last {
	float: right;
	margin: 0;
	width: 21.6%;
}
.footer-b .col .open-close {
	overflow: hidden;
	margin: 0 0 20px;
}
.footer-b .col .open-close h4 {
	color: #fff;
	font: 18px/24px 'flexoregular', Arial, Helvetica, sans-serif;
	margin: 0 0 16px;
}
.footer-b .col .open-close h4 .opener { display: none; }
.footer-b .col .open-close .slide.js-slide-hidden {
	display: block !important;
	left: 0 !important;
	position: relative !important;
	top: 0 !important;
}
.footer-b .col .open-close .slide a { color: #8ca4ab; }
.footer-b .col .open-close .slide a:hover {
	color: #fff;
	text-decoration: none;
}
.footer-b .list {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.footer-b .list li {
	overflow: hidden;
	list-style: none;
	padding: 0 0 10px 21px;
	position: relative;
}
.footer-b .list li:after {
	background: url(../images/sprite.png) no-repeat -176px 0;
	width: 6px;
	height: 10px;
	position: absolute;
	content: "";
	left: 0;
	top: 5px;
}
.footer-b .col .social-networks {
	overflow: hidden;
	padding: 3px 0 18px;
	margin: 0;
}
.footer-b .social-networks li {
	float: left;
	list-style: none;
	margin: 0 0 0 16px;
}
.footer-b .social-networks li:first-child { margin: 0; }
.footer-b .social-networks li a {
	background: url(../images/sprite.png) no-repeat 0 -82px;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.footer-b .social-networks li.facebook a { background-position: -58px -82px; }
.footer-b .social-networks li.googleplus a { background-position: -117px -82px; }
.footer-b .social-networks li.linkedin { float: right; }
.footer-b .social-networks li.linkedin a { background-position: -175px -82px; }
.footer-b .col .info-list {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.footer-b .col .info-list li {
	overflow: hidden;
	margin: 0 0 2px;
}
.footer-b .col .info-list li span {
	display: block;
	margin: 0 0 2px;
}
#footer .footer-b .footer-info {
	font-size: 11px;
	line-height: 18px;
	display: block;
}
.footer-b .footer-info a { color: #8ca4ab; }
.blocks-area {
	overflow: hidden;
	text-align: left;
	margin: -11px 0 0;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.blocks-area .info-block {
	border-top: 1px solid #d5d5d5;
	overflow: hidden;
	padding: 26px 9.8% 38px 7.6%;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.blocks-area .info-block.last { padding: 21px 6% 45px 8.2%; }
.blocks-area .info-block .alignright {
	float: right;
	margin: 0 0 0 12%;
}
.blocks-area .info-block:first-child { padding: 24px 0 0 8.2%; }
.blocks-area .info-block .info-text {
	overflow: hidden;
	padding: 44px 0 0;
	margin: 0 0 20px;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.blocks-area .info-block.last .info-text { padding: 51px 0 0; }
.blocks-area .info-block.last .alignright { margin: 0 0 0 7%; }
.blocks-area .info-block .info-text h2 {
	color: #000;
	font: 24px/24px 'flexoregular', Arial, Helvetica, sans-serif;
	margin: 0 0 21px;
}
.blocks-area .info-block .info-text p { margin: 0 0 10px; }
.blocks-area .side-info {
	float: left;
	margin: 29px 13.6% 0 29px;
	position: relative;
}
.blocks-area .side-info .info-box {
	background: url(../images/bg-n-box.png) repeat-x 0 100%;
	border-radius: 100%;
	border: 4px solid #ccc;
	position: relative;
	margin: 0 0 14px;
	width: 146px;
	height: 106px;
	text-align: center;
	padding: 70px 20px 10px;
	text-transform: uppercase;
	color: #666;
	font: 17px/21px 'flexoregular', Arial, Helvetica, sans-serif;
}
.blocks-area .side-info .info-box:after {
	position: absolute;
	content: "";
	left: 50%;
	bottom: -14px;
	background: url(../images/bg-n-bottom.png) no-repeat;
	width: 161px;
	height: 16px;
	margin: 0 0 0 -80px;
}
.blocks-area .info-box strong {
	display: block;
	color: #333;
	margin: 0 0 5px;
	font: 36px/36px 'flexobold', Arial, Helvetica, sans-serif;
}
.blocks-area .info-box span { display: block; }
.blocks-area .side-info .items {
	padding: 0;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 0;
	overflow: visible;
	z-index: 99;
	font: 14px/20px 'flexoregular', Arial, Helvetica, sans-serif;
}
.blocks-area .side-info .items li {
	list-style: none;
	position: absolute;
	left: 0;
	text-align: center;
	top: 0;
	padding: 0;
	margin: 0;
	width: auto;
	background: #20687d;
	border-radius: 4px;
	padding: 5px;
	border: 0;
	width: 70px;
}
.blocks-area .side-info .items li strong {
	display: inline-block;
	vertical-align: top;
	font: 14px/20px 'flexobold', Arial, Helvetica, sans-serif;
}
.blocks-area .side-info .items li.item1 {
	left: -28px;
	top: 21px;
}
.blocks-area .side-info .items li.item2 {
	left: auto;
	right: -203px;
	top: -1px;
}
.blocks-area .side-info .items li.item3 {
	left: -33px;
	top: 144px;
}
.blocks-area .side-info .items li.item4 {
	left: auto;
	right: -218px;
	top: 155px;
}
.text-center{text-align:center;}
.offers-section{
	padding:30px 40px 0;
	}
.offers-section:after, .offers-section .offers ul:after{
	content:"";
	clear:both;
	display:block;
	}
.offers-section h1, 
.offers-section h2, 
.offers-section p{
	color:#000;
	}
.offers-section h1{
	font-size:36px;
	font-family: 'flexobold', sans-serif;
	margin-bottom: 30px;
	}
.offers-section h2{
	font-family: 'flexobold', sans-serif;
	font-size:24px;
	line-height:100%;
	margin-bottom:0px;
	}
.offers-section p{
	font-size:20px;
	font-family: 'flexoregular', sans-serif;
	}
.offers-section .text-center{
	margin-bottom:40px;
	}
.offers-section .offers{
	width:28%;
	float:left;
	}
.offers-section .offers ul{
	list-style:none;
	margin:0px;
	}
.offers-section .offers ul li{
	text-align:center;
	margin-bottom: 85px;
	}
.offers-section .offers ul li i{
	margin-bottom: 12px;
	display:inline-block;
	}
.offers-section .offers ul li .clock{
	height:63px;
	width:64px;
	background:url(../images/sprite.png) 0 -209px no-repeat;
	}
.offers-section .offers ul li .banknotes{
	height:62px;
	width:65px;
	background:url(../images/sprite.png) -68px -209px no-repeat;
	}
.offers-section .offers ul li .thumb{
	height:64px;
	width:62px;
	background:url(../images/sprite.png) -137px -209px no-repeat;
	}
.offers-section .offers ul li p{
	font-size:19px;
	margin-bottom:0px;
	}
.offers-section .offers ul li:last-child {}
.offers-section .form-area{
	width: 69.5%;
	float:right;
	}
.offers-section .form-area .jufform{
	padding:33px 15px 30px 38px;
	}
.offers-section .form-area .jufform label{
	display:none;
	}
.offers-section .form-area .steps p{
	font:12px/14px Arial, Helvetica, sans-serif;
	}
.offers-section .form-area .stepcircle{
	margin-top:0px;
	}
.offers-section .form-area .stepcircle p{
	font:16px/38px 'flexobold', sans-serif;
	padding-top:0px;
	}
.offers-section .form-area .form-row:nth-child(2) .arrow{
	display:none;
	}
.offers-section .form-area .form-row:nth-child(3){
	width:45.5%;
	}
.offers-section .form-area .form-row:nth-child(4){
    margin-left: 3.5%;
    width: 45.3%;
	}
.offers-section .form-area .img-b{display:none;}

.legat-page h1{
	font:30px/40px 'flexobold', sans-serif;
	padding: 32px 0 9px;
	text-align:center;
	color:#000;
	}
.legat-page .banner{
	position:relative;
	}
.legat-page .banner img{
	height:auto;
	max-width:100%;
	}
.legat-page .banner .circle{
	background: url("../images/circle.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    padding-top: 50px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: 20px;
	height:100%;
	width:100%;
    max-height: 255px;
    max-width: 305px;
	}
.legat-page .banner .circle .icon{
	background: url("../images/cap-icon.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    border-bottom: 2px solid #FFFFFF;
    display: inline-block;
    height: 41px;
    margin-bottom: 13px;
    margin-right: 9px;
    padding: 0 0 26px;
    width: 83px;
	}
.legat-page .banner .circle p{
	color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
	}
.legat-page .banner .circle strong{
	color: #FFFFFF;
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
	}
.legat-page .main-container{text-align:center;}
.legat-page strong{
	color: #000000;
    display: block;
    font-size: 16px;
    line-height: 37px;
    margin-bottom: 39px;
	}
.legat-page p{
	color: #000000;
    font-size: 16px;
    line-height: 30px;
	}
.legat-page .main-container{
	padding:13px 0 47px;
	}
.legat-page .main-container .text-area{
	max-width:520px;
	margin:0 auto 58px;
	}
.legat-page .main-container form .row{margin-bottom:32px;}
.legat-page .main-container form .row .input-holder,
.legat-page .bottom-text{
	width:56%;
	}
.legat-page .main-container form .row .half-width input{
	width:48%;
	margin-right:4%;
	}
.legat-page .main-container form .row .half-width .right{
	margin:0px;
	}
.legat-page .main-container form span{
	color:#666666;
	display:block;
	}
.legat-page .main-container form .row textarea{
	height:175px;
	}
.legat-page .main-container form .submit{
	margin-bottom: 14px;
	}
.legat-page .main-container form .submit .input-holder{
	position:relative;
	}
.legat-page .main-container form .submit .input-holder:after{
	background: url("../images/btn-arrow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	height: 69px;
	position: absolute;
	right: 17px;
	top: -46px;
	width: 30px;
	}
.legat-page .bottom-text{
	margin:0 auto;
	}
.legat-page .bottom-text span{
	display: block;
	margin-bottom: 95px;
	}
.legat-page .bottom-text p{
	font-size:12px;
	line-height:25px;
	}
.legat-page .main-container .txt-img{
	display:none;
	}
.advocates-page{
	padding:27px 40px 19px;
	}
.advocates-page .header-area{
	text-align:center;
	margin-bottom: 33px;
	}
.advocates-page .header-area h1{
	color: #000000;
	font:30px/40px "flexobold",sans-serif;
	margin-bottom: 24px;
	}
.advocates-page .header-area p{
	color: #000000;
	font-size: 20px;
	padding: 0 55px
	}
.advocates-page .header-area p strong{
	display: block;
	margin-bottom: 20px;
	}
.advocates-page .header-area small{
	font-size:14px;
	color:#000;
	}
.advocates:after, .short-info:after{
	content:"";
	clear:both;
	display:block;
	}
.advocate-list{
	width:61.3%;
	float:left;
	}
.advocate-list ul{
	list-style:none;
	margin:0;
	}
.advocate-list li{
	background-color: #F1F1F1;
	margin-bottom: 38px;
	overflow: hidden;
	padding: 18px 30px 15px 29px;
	position: relative;
	}
.advocate-list .contact-detail{
	display: inline-block;
	vertical-align: middle;
	width: 79%;
	margin-right:-4px;
	}
.advocate-list .contact-detail h2{
	color: #000000;
	font:25px/40px "flexoregular",sans-serif;
	margin-bottom: 2px;
	}
.advocate-list .contact-detail span{
	color: #000000;
	display:block;
	font:16px/40px "flexoregular",sans-serif;
	}
.advocate-list .see-profile{
	display: inline-block;
	margin-right: -4px;
	vertical-align: middle;
	width: 21%;
	position:relative;
	}
.advocate-list .see-profile a{
	font-family:"flexoregular",sans-serif;
	display:inline-block;
	}
.advocate-list .see-profile .image-holder{
	background-color: #20687D;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	height: 60px;
	margin-left: 8px;
	margin-top: 6px;
	overflow: hidden;
	padding: 2px;
	width: 60px;
	}
.advocate-list .see-profile .image-holder img{
	height: auto;
    max-width: 100%;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	}
.advocate-list .see-profile .image-holder:after{
	background: url("../images/sprite.png") no-repeat scroll -186px -148px rgba(0, 0, 0, 0);
    content: "";
    height: 23px;
    left: 83px;
    margin-top: 20px;
    position: absolute;
    top: 5px;
    width: 14px;
	}

.sidebar {
	float: left;
    margin-left: 6.7%;
    width: 32%;
	}
.sidebar h3, .sidebar p{
	font-family:"flexoregular",sans-serif;
	color:#000;
	}
.sidebar h3{
	font-size:22px;
	margin-bottom: 18px;
	}
.sidebar p{
	font-size:14px;
	line-height: 17px;
	}
.sidebar .short-info{
	margin-bottom: 49px;
	margin-top: 6px;
	}
.sidebar .short-info .detail{
	overflow:hidden;
	padding-top: 5px;
	}
.sidebar .short-info h3{
	margin-bottom:0px;
	}
.sidebar .short-info h3, 
.sidebar .short-info p{
	line-height:25px;
	word-wrap: break-word;
	}
.sidebar .phone-number{
	display:block;
	margin-bottom: 24px;
	}
.sidebar .phone-number, .sidebar .phone-number a{
	font:bold 20px/30px Arial, Helvetica, sans-serif;
	color:#000;
	}
.sidebar .phone-number:before{
	background:url("../images/sprite.png") no-repeat scroll -186px -173px rgba(0, 0, 0, 0);
	content:"";
	display: inline-block;
    height: 21px;
    margin-right: 14px;
    vertical-align: middle;
    width: 21px;
	}
.sidebar form{
	margin-top: 33px;
	}
.sidebar input[type="text"]{
	margin-bottom: 24px;
	}
.sidebar .btn-holder{
	position:relative;
	}
.sidebar .btn-holder:after{
	background: url("../images/btn-arrow.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 69px;
    position: absolute;
    right: -7px;
    top: 33px;
    width: 30px;
	}
@media only screen and (max-width: 1100px) {
	.caption h1 { margin: 0 0 35px; }
}
@media only screen and (max-width: 1000px) {
	#header .search-box { width: 24%; }
	#header.head .search-box { width: 27%; }
	#header.head .search-form input[type="search"] { width: 80%; }
	#header #nav .slide { font-size: 17px; }
	#header.head.offer #nav .slide li { padding: 28px 0.7%; }
	#header.offer #nav .slide { font-size: 12px; }
	#nav .slide li { padding: 28px 1%; /* 0 1.5%; */ }
	#header.head #nav .slide li { padding: 0 5%; }
	#header, .container.home #header { margin: 20px auto; }
	.caption h1 {
		font-size: 40px;
		line-height: 46px;
		margin: 0 0 30px;
	}
	.steps-holder .steps li { width: 30%; }
	.logo-area .logo-holder ul li { width: 30%; }
	.comments-area { padding: 0 5px 20px; }
	.comments-area ul li {
		width: 45%;
		padding: 15px 0 0 1%;
	}
	.comments-area ul li .alignleft { margin: 0 5px 0 0; }
	.comments-area ul li .commet-text {
		padding: 0 5px 5px 0;
		font-size: 13px;
	}
	#content .content-holder { padding: 20px; }
	#content .intro-content {
		padding: 0;
		margin: 0 0 10px;
	}
	.subjects > li .header { padding: 10px 8px; }
	.subject-links { padding: 10px 8px; }
	.subject-links li { margin: 0 0 3px; }
	#sidebar .widget.sideinfo, #sidebar .widget:first-child, #sidebar .widget, #sidebar .widget.links { padding: 10px 10px 20px; }
	#sidebar .widget.sideholder { padding: 0 0 10px; }
	#sidebar .comments .text-area { font-size: 13px; }
	#sidebar .widget.sideholder .title {
		padding: 26px 10px 15px 30px;
		margin: 0 0 62px -3px;
	}
	#sidebar .widget.sideholder .inner-holder { padding: 0 10px 0 15px; }
	.side-list li { padding: 0 0 10px 25px; }
	.info-form label {
		margin: 0 1% 0 0;
		padding: 25px 4.5% 25px 2.5%;
	}
	.info-form .form-inner { padding: 15px 5px 15px 0; }
	.info-form input[type="text"] { width: 60%; }
	#content .info-box { padding: 15px; }
	#footer .accordion li {
		width: 23%;
		margin: 0 1% 0 2%;
	}
	#footer .accordion li:first-child { margin: 0 1% 0 0; }
	.footer-b .col {
		margin: 0 0.5% 0 0;
		width: 23.9%;
		font-size: 12px;
	}
	.footer-b .col.last {
		width: 25.5%;
		margin: 0;
	}
	.footer-b .list li { padding: 0 0 10px 12px; }
	.footer-b .social-networks li { margin: 0 0 0 7px; }
	.footer-b .col .open-close { margin: 0 0 10px; }
	#footer .holder { padding: 0 5px; }
	.footer-b .social-networks li.linkedin { float: left; }
	.team-info ul li img { width: 100%; }
	.links-list li { padding: 0 0 8px 38px; }
	.contact-list li { padding: 0 10px 0 0; }
	.team-info ul li .heading { padding: 15px; }
	.team-info ul li .text { padding: 15px; }
	.main-area .header-box { padding: 30px 2%; }
	.main-area ul li .holder { padding: 15px; }
	.main-container form .row .input-holder { width: 40%; }
	.main-container .txt-img { right: 5px; }
	.main-holder .main-heading { padding: 40px 1%; }
	.main-holder .main-heading .text { padding: 0 5%; }
	.entry-content .holder { padding: 20px; }
	.box-holder .box {
		width: 48%;
		margin: 0 0.5%;
	}
	.box-holder .box .link {
		margin: 0 0 23px;
		width: 70%;
	}
	.box-holder { margin: 0 0 50px; }
	#footer .accordion li .slide { min-height: 240px; }
	.outer-holder .steps li .text { padding: 0; }
	.txt-start { right: 7%; }
	.form .area-holder { width: 55%; }
	.form .form-holder { width: 65%; }
	.form .text-holder .form-holder {
		width: 55%;
		left: 0;
	}
	.txt-vender {
		right: 2%;
		top: 30px;
		width: 125px;
		height: 50px;
		background-size: 125px 50px;
	}
	.subjects > li { margin: 0 1.8% 20px 0; }
	.blocks-area .info-block:first-child { padding: 24px 0 0 3%; }
	.blocks-area .info-block .alignright { margin: 0; }
	.blocks-area .info-block { padding: 26px 1% 37px 2.6%; }
	.blocks-area .info-block .info-text { margin: 0 0 10px; }
	.blocks-area .side-info { margin: 27px 6% 0 29px; }
	.blocks-area .info-block.last { padding: 20px 1%; }
	.blocks-area .info-block.last .alignright { margin: 0 0 0 3%; }
	
	.legat-page .banner .circle{
		margin-top: -103px;
		max-height: 193px;
		max-width: 219px;
		padding-top: 26px;
		right: 50px;
		top: 50%;
		}
	.legat-page .banner .circle .icon {
		margin-bottom: 10px;
		margin-right: 9px;
		padding: 0 0 10px;
		}
	.legat-page .banner .circle p {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 10px;
		}
	.legat-page .banner .circle strong {
		font-size: 35px;
		margin-bottom: 6px;
		}
}
@media only screen and (max-width: 767px) {
	#header .search-box, #header.head .search-box {
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		padding: 18px 10px 14px;
		border: 0;
	}
	#header .search-box .opener {
		color: #a1a4a4;
		position: relative;
		float: right;
		display: inline-block;
		vertical-align: top;
		padding: 0 55px 0 0;
		font: 18px/48px 'flexobold', Arial, Helvetica, sans-serif;
	}
	#header .search-box .opener:hover, #header .search-box.active .opener {
		text-decoration: none;
		color: #000;
	}
	#header .search-box .opener:after {
		background: url(../images/sprite.png) no-repeat -268px 0;
		width: 48px;
		height: 48px;
		position: absolute;
		right: 0;
		top: 0;
		content: "";
	}
	#header .search-box .form-holder.js-slide-hidden {
		display: block !important;
		left: 0 !important;
		position: static !important;
		top: 0 !important;
	}
	#header .search-box .form-holder.js-slide-hidden {
		display: block !important;
		left: -9999px !important;
		position: absolute !important;
		top: -9999px !important;
	}
	#header .search-box .form-holder {
		background: #fff;
		clear: both;
		z-index: 999;
		margin: 0 -9999px;
		padding: 10px 9999px;
		position: absolute;
		right: 10px;
		top: 100%;
		width: 300px;
	}
	#header #nav {
		position: absolute;
		right: 25px;
		top: 20px;
		z-index: 999;
		overflow: visible;
		left: 90px;
		text-align: right;
	}
	#header #nav .opener {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 16px;
		position: relative;
		padding: 0 0 0 50px;
		color: #b23326;
		font: 18px/44px 'flexobold', Arial, Helvetica, sans-serif;
	}
	#header #nav .opener:after {
		background: url(../images/sprite.png) no-repeat -221px 0;
		width: 45px;
		height: 40px;
		position: absolute;
		left: 0;
		top: 0;
		content: "";
	}
	#header #nav.active .opener, #header #nav .opener:hover {
		text-decoration: none;
		color: #222;
	}
	#header #nav.active .opener:after, #header #nav .opener:hover:after {
		text-decoration: none;
		color: #222;
		background-position: -221px -80px;
	}
	#header #nav .slide.js-slide-hidden {
		display: block !important;
		left: 0 !important;
		position: static !important;
		top: 0 !important;
	}
	#header #nav .slide.js-slide-hidden {
		display: block !important;
		left: -9999px !important;
		position: absolute !important;
		top: -9999px !important;
	}
	#header #nav .slide {
		background: #fff;
		position: absolute;
		top: 100%;
		padding: 0 9999px;
		margin: 0 -9999px;
	}
	#header #nav .slide li {
		float: none;
		padding: 0;
		margin: 0 0 10px;
		width: 300px;
		text-align: left;
		overflow: hidden;
	}
	.caption .btn-holder .txt-gratis { display: none; }
	#header, .container.home #header, .container.pivat #header { margin: 0 auto 10px; }
	.caption { padding: 0 5px; }
	.caption h1 {
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 10px;
	}
	.caption .btn-holder .link {
		font-size: 14px;
		line-height: 30px;
		width: 130px;
	}
	.caption .btn-holder { padding: 0; }
	#main .main-block { padding: 20px 0 0; }
	.steps-holder .steps li:after { background: none; }
	.steps-holder .steps li {
		margin: 0 0 15px;
		padding: 0;
		width: 100%;
	}
	.steps-holder .steps li .img-holder { margin: 0 auto 15px; }
	.steps-holder .steps li h2 { margin: 0 0 10px; }
	.logo-area .logo-holder { padding: 20px 0; }
	.logo-area .logo-holder h2 { margin: 0 0 20px; }
	.logo-area .logo-holder ul {
		margin: 0;
		padding: 0 8px;
	}
	.logo-area .logo-holder ul li, .logo-area .logo-holder ul li:first-child {
		margin: 0 0 10px;
		width: 100%;
	}
	.comments-area h2 {
		font-size: 22px;
		margin: 0 0 20px;
	}
	.comments-area ul { margin: 0; }
	.comments-area ul li {
		width: 100%;
		padding: 15px 0 0;
		margin: 0 0 20px;
	}
	.commet-text .text {
		font-size: 11px;
		line-height: 15px;
	}
	.twocolumns:before { background: none; }
	#content, #sidebar {
		float: none;
		width: 100%;
		margin: 0 0 10px;
	}
	#content .content-holder { padding: 5px; }
	#content h1 { margin: 0 0 10px; }
	.subjects { margin: 0; }
	.subjects > li .header, .subject-links {
		padding: 5px;
		font-size: 14px;
		line-height: 20px;
	}
	.subjects > li .heading-box h2 { font-size: 20px; }
	.subjects > li {
		width: 48%;
		margin: 0 0.5% 20px;
	}
	#sidebar .sidebox img { width: 100%; }
	#header.head #nav .slide li:after { background: none; }
	#footer .accordion li:first-child, #footer .accordion li, #footer .accordion li.last {
		float: none;
		padding: 0;
		margin: 0 0 5px;
		width: 100%;
	}
	#footer .accordion li .slide { min-height: inherit; }
	.accordion li .slide.js-slide-hidden {
		display: block !important;
		left: 0 !important;
		position: relative !important;
		top: 0 !important;
	}
	#footer .accordion li .slide.js-slide-hidden {
		display: block !important;
		left: -9999px !important;
		position: absolute !important;
		top: -9999px !important;
	}
	#footer .accordion li h4 {
		position: relative;
		padding: 0 30px 0 0;
	}
	#footer .accordion li h4 .opener {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		text-indent: -9999px;
		background: url(../images/ico-opener.png) no-repeat 100% 0;
	}
	#footer .accordion li.active h4 .opener, #footer .accordion li h4 .opener:hover { background: url(../images/opener-active.png) no-repeat 100% 0; }
	#footer .accordion li .slide .link { position: relative; }
	#footer .footer-t { padding: 30px 0; }
	.footer-b .col, .footer-b .col.last {
		float: none;
		padding: 0;
		margin: 0 0 10px;
		width: 100%;
	}
	.footer-b .col .open-close .slide.js-slide-hidden {
		display: block !important;
		left: 0 !important;
		position: relative !important;
		top: 0 !important;
	}
	.footer-b .col .open-close .slide.js-slide-hidden {
		display: block !important;
		left: -9999px !important;
		position: absolute !important;
		top: -9999px !important;
	}
	.footer-b .col .open-close h4 {
		position: relative;
		padding: 0 30px 0 0;
	}
	.footer-b .col .open-close h4 .opener {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		text-indent: -9999px;
		background: url(../images/ico-opener.png) no-repeat 100% 0;
	}
	.footer-b .col .open-close.active h4 .opener, .footer-b .col .open-close h4 .opener:hover { background: url(../images/opener-active.png) no-repeat 100% 0; }
	.main-box img { width: 100%; }
	.video-placeholder img { width: 100%; }
	.text-container { padding: 0; }
	.team-info ul li .heading, .team-info ul li .text { padding: 7px; }
	.main-area ul { padding: 0 10px 20px; }
	.main-area ul li {
		margin: 0 0 20px;
		width: 100%;
	}
	.main-area ul li .holder { padding: 10px; }
	.main-container .txt-img { display: none; }
	.main-container form .row .input-holder { width: 90%; }
	.main-area h1, .main-area .sub-head {
		font-size: 28px;
		line-height: 34px;
	}
	.main-container h2 { font-size: 24px; }
	.main-holder .main-heading h1 {
		font-size: 28px;
		line-height: 34px;
	}
	.main-holder .main-heading .text { padding: 0 1%; }
	.main-holder .main-heading {
		font-size: 14px;
		line-height: 20px;
	}
	.entry-content .holder {
		padding: 10px;
		font-size: 14px;
		line-height: 22px;
	}
	#main .entry-content .alignleft {
		float: none !important;
		display: block;
		margin: 0 auto 20px;
	}
	.entry-content .text { padding: 0; }
	.box-holder .box {
		width: 100%;
		margin: 0 0 30px;
	}
	.box-holder .box .text { padding: 0 5%; }
	.box-holder .box .link {
		margin: 0 0 23px;
		width: 80%;
	}
	.info-form input[type="text"], .info-form input[type="submit"] {
		width: 100%;
		margin: 0 0 10px;
	}
	.info-form label {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	.info-form label:after { background: none; }
	#content .info-box { padding: 10px; }
	#content .info-box ul { font-size: 12px; }
	#content h2 {
		font-size: 20px;
		line-height: 26px;
	}
	#content h1 {
		font-size: 28px;
		line-height: 34px;
	}
	.info-box ul li { padding: 0 0 4px 10px; }
	#content .article .alignleft {
		float: none !important;
		display: block;
		margin: 0 auto 10px;
	}
	#content .article {
		margin: 0;
		padding: 10px;
	}
	.comment-form .row .col, .comment-form .row .col:first-child { width: 100%; }
	.comment .alignleft { margin: 5px 10px 0 0; }
	.comment .text {
		overflow: visible;
		font-size: 14px;
		line-height: 20px;
	}
	#sidebar .widget.sideholder .title:after {
		left: 50%;
		margin: 0 0 0 -140px;
	}
	.widget.sideholder .inner-holder .link { width: 100%; }
	.container img.alignright { display: none !important; }
	#header.head.offer #nav .slide li:after { background: none; }
	#nav .slide li .placeholder { display: block; }
	#nav .slide li .placeholder img {
		float: left;
		top: 0;
	}
	#header.head.offer #nav .slide li .tel { display: block; }
	.outer-holder .heading { padding: 0 2%; }
	.outer-holder .heading h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.txt-start { display: none; }
	.form .area-holder, .form .form-holder, .form .text-holder .form-holder { width: 98%; }
	.form input[type="submit"],  .form .submit-button {
		width: 100%;
		font-size: 14px;
	}
	.form label {
		font-size: 13px;
		line-height: 18px;
	}
	.txt-vender { display: none; }
	.blocks-area .info-block .alignright {
		position: absolute;
		right: 0;
		bottom: 0;
		float: none;
		max-width: 100%;
		height: auto;
	}
	.blocks-area .info-block.last .alignright {
		position: absolute;
		left: 50%;
		bottom: 0;
		margin: 0 0 0 -142px;
		float: none;
	}
	.blocks-area .info-block:first-child {
		padding: 24px 0 300px 3%;
		position: relative;
	}
	.blocks-area .info-block.last { padding: 20px 1% 280px; }
	.blocks-area .side-info {
		float: none;
		width: 80%;
		position: relative;
		left: 10%;
		margin: 0 auto 10px;
	}
	.offers-section .text-center{margin-bottom:20px;}
	.offers-section h1{font-size:25px;}
	.offers-section h2{font-size: 18px;}
	.offers-section p, .offers-section .offers ul li p{font-size: 16px;}
	.offers-section .offers, .offers-section .form-area{width:100%;}
	.offers-section .offers ul li{margin-bottom: 30px;}
	.offers-section .form-area .form-row:nth-child(3),
	.offers-section .form-area .form-row:nth-child(4){width:94.5%;margin-left:0px;}
	.legat-page .main-container{padding-bottom:20px;}
	.legat-page h1{
		font-size:22px;
		line-height:30px;
		padding-top:22px;
		}
	.legat-page .banner .circle{
		margin-top: -45px;
 		max-height: 90px;
		max-width: 160px;
		right:25px;
		padding-top: 0;
		background:none;
		}
	.legat-page .banner .circle .icon{display:none;}
	.legat-page .main-container .text-area{
		max-width:100%;
		padding:0 20px;
		}
	.legat-page strong{
		margin-bottom:15px;
		line-height:25px;
		}
	.legat-page .main-container .text-area{margin-bottom:30px;}
	.legat-page .main-container form .row .input-holder{width: 90%;}
	.legat-page .main-container form .row,	
	.legat-page .main-container form .row .half-width input:first-child{margin-bottom:20px;}
	.legat-page .main-container form .row .half-width input{
		width:100%;
		margin-right:0px;
		}
	.legat-page .bottom-text{
		width:auto;
		padding:0 20px;
		}
	.legat-page .bottom-text span{margin-bottom: 20px;}
	.advocates-page .header-area h1, .advocate-list .contact-detail h2{
		font-size:20px;
		line-height:30px;
		}
	.advocates-page .header-area p{font-size:16px;}
	.advocate-list, .sidebar{width:100%;margin-left: 0px;}
	.advocates-page .header-area p{padding:0px;}
	.advocate-list li{
		margin-bottom:20px;
		padding: 10px 15px;
		}
	.advocate-list .contact-detail span{
		font-size:12px;
		line-height:30px;
		}
	.advocate-list .see-profile a{font-size:12px;}
	.advocate-list .see-profile .image-holder{
		height:40px;
		width:40px;
		}
	.advocate-list .see-profile .image-holder:after{
		left: 63px;
		margin-top: 13px;
		}
	.sidebar .short-info{margin-bottom:30px;}
	.sidebar .short-info img{max-width:80px;height:auto;}
}

#nav select { display:none; float:right; height:40px; font-family:'flexoregular', Arial, Helvetica, sans-serif;}

/* #Mobile (Landscape) */
@media only screen and (min-width:480px) and (max-width:767px) {
	#nav select { display:block;}

}


@media only screen and (min-width:320px) and (max-width:479px) {
	#nav select { display:block;}


}




 @media only screen and (max-width: 450px) {
	 
	.container.home { margin: 0 0 80px; }
	.caption h1 { font-size: 18px; }
	.caption .btn-holder .link {
		font-size: 13px;
		line-height: 26px;
		width: 120px;
	}
	.container img {
		position: relative;
		top: 80px;
	}
	.subjects > li {
		width: 99%;
		margin: 0 0 20px;
	}
	.team-info ul { margin: 0; }
	.team-info ul li {
		float: none;
		width: 100%;
		margin: 0 0 20px;
		height: auto !important;
	}
	.step1, .step2, .step3{width:100%;margin-bottom:10px;}
	.offers-section .form-area .steparrow{display:none;}
	.advocate-list .contact-detail, .advocate-list .see-profile{width:100%;}
	.advocate-list .see-profile{text-align:center;}
	.advocate-list .see-profile .image-holder:after{
		left:auto;
		margin-left:10px;
		}
}