.jcarousel-wrapper{margin:37px 0 30px 0; padding:0 15px 20px 15px; position:relative; border-radius:4px; background:#fefefe; background:-moz-linear-gradient(top, #fefefe 0%, #f9f9f9 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f9f9f9)); background:-webkit-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); background:-o-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); background:-ms-linear-gradient(top, #fefefe 0%,#f9f9f9 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 ); background: linear-gradient(top, #fefefe 0%,#f9f9f9 100%); border:1px solid #f2f2f2; }

/** Carousel **/

.jcarousel{position:relative; overflow:hidden; width:100%;}

.jcarousel ul{width:20000em; position:relative; list-style:none; margin:0; padding:0;}

.jcarousel li{width:100px; float:left; margin:0 1px 0 31px;}
.jcarousel li span {float:left; width:87%; font-size:15px; color:#2f75ad; text-align:center;}
.jcarousel img{display:block;  height:auto !important; background:#FFFFFF; border:1px solid #EEEEEE; margin:10px 0; padding:8px 15px; vertical-align:middle; height:auto; width:90px;}

/** Carousel Controls **/

.jcarousel-control-prev,.jcarousel-control-next{position:absolute; top:50%; margin-top:-15px; width:44px; height:44px; text-indent:-9999px;}

.jcarousel-control-prev{left:-20px; background-position:0 -392px}
.jcarousel-control-prev:hover{background-position:right -392px}

.jcarousel-control-next{right:-20px; background-position:0 -500px;}
.jcarousel-control-next:hover{background-position:right -500px;}

/** Carousel Pagination **/

.jcarousel-pagination{position:absolute; bottom:-40px; left:50%; -webkit-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); transform:translate(-50%, 0); margin:0;}

.jcarousel-pagination a{text-decoration:none; display:inline-block;
 font-size:11px; height:10px; width:10px; line-height:10px;
 background:#fff; color:#4E443C; border-radius:10px; text-indent:-9999px;
 margin-right:7px;
 -webkit-box-shadow:0 0 2px #4E443C; -moz-box-shadow:0 0 2px #4E443C; box-shadow:0 0 2px #4E443C;}
.jcarousel-pagination a.active{background:#4E443C; color:#fff; opacity:1;
 -webkit-box-shadow:0 0 2px #F0EFE7; -moz-box-shadow:0 0 2px #F0EFE7; box-shadow:0 0 2px #F0EFE7;}